//sass --watch scss/cases.scss css/cases.css --style compressed

header {
  position: relative;
  z-index: 1;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  .mobile-content, .mobile-menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1899px) {
  img, video {
    max-width: 100%;
  }
  .desktop-content {
    .body {
      position: absolute;
      top: 0;

      .main-statement-wrap {
        height: 820px;
        background-image: url("../static/images/desktop/cases/crescent/1_crescentcase_hero.jpg");
        background-size: cover;
        background-position: center;

        .main-statement {
          font-family: Roobert-Bold, sans-serif;
          font-size: 70px;
          position: relative;
          bottom: 0;
          top: calc(820px - 76px);
          z-index: 1;
          padding-left: 10px;
        }

        .num-svg {
          height: 150px;
          position: absolute;
          bottom: 0;
          top: calc(820px - 168px);
          right: 40px;
        }
      }

      .main-content {
        margin-top: 140px;
        padding: 0 10px;
        max-width: calc(100vw - 20px);
        .head-block {
          position: relative;
          padding: 0 130px;

          .tag {
            font-family: Roobert-Bold, sans-serif;
            font-size: 15px;
            letter-spacing: -0.5px;
          }

          .content-head-text {
            font-size: 65px;
            line-height: 70px;
            letter-spacing: -0.169vw;
            margin-top: 110px;

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
              display: block;
            }
          }

          .case-name {
            font-family: Roobert-Bold, sans-serif;
            font-size: 20px;
            position: absolute;
            bottom: 0;
          }

          .tag-list {
            margin-top: 110px;
            position: relative;
            left: calc(100% - 127px);
            right: 127px;
            width: 250px;

            .folder-icon {
              width: 15px;
              height: auto;
            }

            ul {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              font-size: 15px;
              line-height: 20px;
              white-space: initial;
              margin-top: 17px;
            }
          }
        }

        .content-row {
          display: flex;
          max-width: 100%;
          padding: 0 130px 50px;
          margin-top: 113px;

          p {
            font-size: 26px;
            line-height: 31px;
            letter-spacing: -0.5px;
            font-family: GT-Alpina-Standard-Light, sans-serif;

            &:not(:first-child) {
              margin-top: 30px;
            }

            span.italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .col-3.d-block {
            max-width: 260px;
            width: 100%;
            position: relative;

            img {
              display: block;
              width: 180px;
            }

            .img-wrap {
              position: absolute;
              bottom: 0;

              .sub-image {
                margin-top: 29px;
              }
            }
          }

          .col-7 {
            width: calc(100% - 260px);
          }
        }

        .row {
          .full-row {
            max-width: 100%;
            width: 923px;
            margin: 100px auto 0;
            display: block;
          }
        }

        .quote-block {
          padding: 0 130px 50px;
          margin-top: 150px;
          font-family: Roobert-Medium, sans-serif;

          .quote {
            font-size: 48px;
            line-height: 50px;
            letter-spacing: -0.15px;
          }

          .quote-by {
            font-size: 24px;
            margin-top: 25px;
            display: block;
          }
        }

        .percentage-wrap {
          position: absolute;
          bottom: 0;
          font-family: GT-Alpina-Standard-Light, sans-serif;
          width: 160px;

          .percentage {
            font-size: 60px;
            letter-spacing: -2px;
          }

          .percentage-description {
            margin-top: 29px;
            font-family: Roobert-Medium, sans-serif;
            font-size: 15px;
            line-height: 18px;
          }
        }

        .row-full {
          margin-top: 100px;
          width: 100vw;
          position: relative;
          left: -10px;
        }
      }

      .next-case{
        .next-case-body{
          margin: 200px 130px 0;border-top: 1px solid;padding-top: 50px;
          .ref{
            font-family: Roobert-Bold,sans-serif;font-size: 16px;line-height: 20px;letter-spacing: -0.5px;
          }
          .next-title{
            margin-top: 50px;
            span{
              font-size: 5.508vw;
              line-height: 5.508vw;
              letter-spacing: -0.169vw;
              display: block;
            }
            .simple{
              font-family: GT-Alpina-Standard-Light,sans-serif;
            }
            .italic{
              font-family: GT-Alpina-Standard-Light-Italic,sans-serif;
            }
          }
        }
        .row-full {
          margin-top: 100px;
          width: 100vw;
          position: relative;
        }

      }

    }
  }
}