//sass --watch scss/cases.scss css/cases.css --style compressed

header {
  position: relative;
  z-index: 1;
  padding: 0 10px;
}

.case-study-html .main-statement{
  display: none;
}
.new-html{
  transition: top 0.8s;
  top: 0;
  position: fixed;
  &.inactive{
    position: fixed;
    top: 100vh;
  }
}
.main-statement-wrap{
  .num-svg{
    display: none;
  }
}
.alpinaMedium{
  font-family: GT-Alpina-Standard-Regular, sans-serif;
}
.limited-next-image {
  max-height: 350px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .mobile-content, .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-content {
    .navigation {
      display: none;
    }
  }
}


@media only screen and (max-width: 599px) {
  .case-study-html{
    img {
      max-width: 100%;
    }
    video {
      width: 150vw;
      transform: translateX(-50%);
      left: 50%;
      position: relative;
    }
  }


  .desktop-content .body .main-content {
    .row .full-row.desktop-only-img, .row-full .desktop-only-img {
      display: none !important;
    }
  }
  .desktop-content {
    .body.case-study-html {
      position: absolute;
      top: 0;

      .main-statement-wrap {
        height: 600px;
        &.crescentHero{
          background-image: url("../static/images/desktop/cases/crescent/1_crescentcase_hero_mobile.jpg");
        }
        &.tysHero{
          background-image: url("../static/images/desktop/cases/tys/1 tyscase hero.jpg");
        }
        &.kandaloreHero{
          background-image: url("../static/images/desktop/cases/kandalore/1 CampKCase Hero.jpg");
        }
        &.unitedWayHero{
          background-image: url("../static/images/desktop/cases/unitedway/1 unitedway_hero.jpg");
        }
        &.peepsHero{
          background-image: url("../static/images/desktop/cases/peeps/1 peepsmagazine_hero3.jpg");
        }
        &.thomsonHero{
          background-image: url("../static/images/desktop/cases/thomson/1_thomsonreuters_mobile_hero.jpg");
        }
        background-size: cover;
        background-position: center;
        position: relative;

        .main-statement {
          font-family: Roobert-Bold, sans-serif;
          font-size: 35px;
          position: absolute;
          bottom: 17px;
          padding-left: 10px;
        }

        .num-svg {
          height: 102.033px;
          position: absolute;
          bottom: 22px;
          right: 13px;
        }
      }

      .main-content {
        margin-top: 150px;
        padding: 0 10px;
        max-width: calc(100vw - 20px);
        overflow-x: hidden;

        .head-block {
          position: relative;

          .tag {
            font-family: Roobert-Bold, sans-serif;
            font-size: 15px;
            letter-spacing: -0.416667px;
          }

          .content-head-text {
            font-size: 45px;
            line-height: 45px;
            letter-spacing: -1px;
            margin-top: 85px;

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .case-name {
            font-family: Roobert-Bold, sans-serif;
            font-size: 20px;
            margin-top: 82px;
          }

          .tag-list {
            margin-top: 65px;

            .folder-icon {
              width: 17px;
              height: auto;
            }

            ul {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              font-size: 15px;
              line-height: 20px;
              white-space: initial;
              margin-top: 14.7333px;
            }
          }
        }

        .content-row {
          display: flex;
          max-width: 100%;
          &:not(.imgSet){
            margin-top: 30px;

          }
          &.imgSet{
            margin-top: 30px;

          }

          &.iframe-video{
            height: 57.22vw;
          }

          p {
            font-size: 22px;
            line-height: 26px;
            letter-spacing: -0.5px;
            font-family: GT-Alpina-Standard-Light, sans-serif;

            &:not(:first-child) {
              margin-top: 20px;
            }

            span.italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .col-3.d-block {
            display: none;
            max-width: 22.034vw;
            width: 100%;
            position: relative;

            img {
              display: block;
              width: 156.033px;
            }

            .img-wrap {
              position: absolute;
              bottom: 0;

              .sub-image {
                margin-top: 25.1333px;
              }
            }
          }

          .col-7 {
            width: 100%;
            margin-bottom: 5px;

            .img-mobile-wrap {
              display: flex;
              margin-top: 57px;
              margin-bottom: 50px;

              img {
                width: 170px;
                height: 228.433px;

                &:first-child {
                  margin-right: 30px;
                }
              }
            }

            .percentage-mobile-wrap {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              max-width: 510px;
              width: 100%;
              margin-bottom: 65px;

              .percentage {
                font-size: 60px;
                letter-spacing: -1.71667px;
                padding-bottom: 7px;
              }

              .percentage-description {
                font-family: Roobert-Medium, sans-serif;
                font-size: 15px;
                line-height: 18px;
              }
            }
          }
        }

        .row {
          .full-row {
            max-width: 100%;
            display: block;
            &:not(.imgSet){
              margin: 30px auto 0;
            }
            &.imgSet{
              margin: 30px auto 0;
            }
            &.flex{
              .iframe-square .iframe-square-video {
                width: 100vw;
                height: 50vw;
              }
              .iframe-square.iframe-square-r {
                margin-top: 3.91vw;
              }
            }
          }
        }

        .quote-block {
          margin-top: 60px;
          font-family: Roobert-Medium, sans-serif;
          padding-bottom: 30px;

          .quote {
            font-size: 31px;
            line-height: 35px;
            letter-spacing: -1px;
          }

          .quote-by {
            font-size: 18px;
            margin-top: 21.6667px;
            display: block;
          }
        }

        .percentage-wrap {
          position: absolute;
          bottom: 0;
          font-family: GT-Alpina-Standard-Light, sans-serif;
          width: 138.7px;

          .percentage {
            font-size: 52.0167px;
            letter-spacing: -1.71667px;
          }

          .percentage-description {
            font-family: Roobert-Medium, sans-serif;
            font-size: 13px;
            line-height: 15.6px;
          }
        }

        .row-full {
          margin-top: 8.475vw;
          width: 100vw;
          position: relative;
          left: -10px;
        }
      }

      .next-case {
        margin-bottom: 40px;

        .next-case-body {
          margin: 100px 10px 70px;
          border-top: 1px solid;
          padding-top: 50px;

          .ref {
            font-family: Roobert-Bold,
            sans-serif;
            font-size: 13.8667px;
            line-height: 17.3333px;
            letter-spacing: 0.2px;
          }

          .next-title {
            margin-top: 50px;

            span {
              font-size: 45px;
              line-height: 45px;
              letter-spacing: -1px;
              display: block;
            }

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }
        }

        .row-full {
          margin-top: 70px;
          width: 100vw;
          position: relative;
          max-height: 350px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

      }

    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .desktop-content {
    .body.case-study-html {
      .main-statement-wrap {
        height: 100vh;

        .num-svg {
          top: calc(100vh - 150px);
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .desktop-content {
    .body.case-study-html {
      .main-statement-wrap {
        height: calc(100vh - 42.5px);

        .num-svg {
          top: calc(100vh - 188px);
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .desktop-content {
    .body.case-study-html {
      .main-statement-wrap {
        height: calc(100vh - 42.5px);

        .num-svg {
          top: calc(100vh - 166px);
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .case-study-html{
    img, video {
      max-width: 100%;
    }
  }
  .mobile-only-set {
    display: none;
  }
  .desktop-content {
    .body.case-study-html {
      position: absolute;
      top: 0;

      .main-statement-wrap {

        &.crescentHero{
          background-image: url("../static/images/desktop/cases/crescent/1_crescentcase_hero.jpg");
        }
        &.tysHero{
          background-image: url("../static/images/desktop/cases/tys/1 tyscase hero.jpg");
        }

        &.kandaloreHero{
          background-image: url("../static/images/desktop/cases/kandalore/1 CampKCase Hero.jpg");
        }
        &.unitedWayHero{
          background-image: url("../static/images/desktop/cases/unitedway/1 unitedway_hero.jpg");
        }
        &.peepsHero{
          background-image: url("../static/images/desktop/cases/peeps/1 peepsmagazine_hero3.jpg");
        }

        &.thomsonHero{
          background-image: url("../static/images/desktop/cases/thomson/1_thomsonreuters_mobile_hero.jpg");
        }
        background-size: cover;
        background-position: center;
        position: relative;

        .main-statement {
          font-family: Roobert-Bold, sans-serif;
          font-size: 60.6833px;
          position: absolute;
          bottom: 6px;
          z-index: 1;
          padding-left: 10px;

          br {
            display: none;
          }
        }

        .num-svg {
          height: 130.033px;
          position: absolute;
          bottom: 0;
          right: 40px;
        }
      }

      .main-content {
        margin-top: 121.367px;
        padding: 0 10px;
        max-width: calc(100vw - 20px);

        .head-block {
          position: relative;
          padding: 0 11.017vw;

          .tag {
            font-family: Roobert-Bold, sans-serif;
            font-size: 16px;
            letter-spacing: .2px;
          }

          .content-head-text {
            font-size: 52.0667px;
            line-height: 52.0667px;
            letter-spacing: -1.71667px;
            margin-top: 56.4px;
            max-width: 607.45px;

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
              display: block;
            }
          }

          .case-name {
            font-family: Roobert-Bold, sans-serif;
            font-size: 20px;
            position: absolute;
            bottom: 0;
          }

          .tag-list {
            margin-top: 195.25px;
            position: relative;
            left: calc(100% - 127px);
            right: 127px;
            width: 175.8px;

            .folder-icon {
              width: 15px;
              height: auto;
            }

            ul {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              font-size: 16px;
              line-height: 20px;
              white-space: initial;
              margin-top: 14.7333px;
            }
          }
        }

        .content-row {
          display: flex;
          max-width: 100%;
          padding: 0 11.017vw 5px;
          &:not(.imgSet){
            margin-top: 112.8px;
          }
          &.imgSet{
            margin-top: 70px;
          }

          &.iframe-video{
            height: 44.22vw;
          }

          p {
            font-size: 26px;
            line-height: 30px;
            letter-spacing: -0.5px;
            font-family: GT-Alpina-Standard-Light, sans-serif;

            &:not(:first-child) {
              margin-top: 2.542vw;
            }

            span.italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .col-3.d-block {
            display: none;
            max-width: 22.034vw;
            width: 100%;
            position: relative;

            img {
              display: block;
              &:not(.widerSideImg){
                width: 156.033px;
              }
              &.widerSideImg{
                width: 194.55px;
              }
            }

            .img-wrap {
              position: absolute;
              bottom: 0;

              .sub-image {
                margin-top: 25.1333px;
              }
            }
          }

          .col-7 {
            width: 100%;

            .img-mobile-wrap {
              display: flex;
              margin-top: 67px;
              margin-bottom: 60px;

              img {
                width: 193px;

                &:first-child {
                  margin-right: 40px;
                }
              }
            }

            .percentage-mobile-wrap {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              display: flex;
              max-width: calc(100vw - 20px);
              width: 100%;
              margin-bottom: 65px;

              .percentage {
                font-size: 60px;
                letter-spacing: -1.71667px;
                margin-right: 20px;
              }

              .percentage-description {
                font-family: Roobert-Medium, sans-serif;
                font-size: 15px;
                line-height: 18px;
                margin-right: 40px;
              }
            }
          }
        }

        .row {
          .full-row {
            max-width: 100%;
            width: 78.220vw;
            margin: 112.8px auto 0;
            display: block;
            &:not(.imgSet){
              margin: 112.8px auto 0;
            }
            &.imgSet{
              margin: 70px auto 0;
            }
            &.flex{
              .iframe-square .iframe-square-video {
                height: 43.339vw;
              }
              .iframe-square.iframe-square-r {
                margin-top: 3.91vw;
              }
            }
          }
        }

        .quote-block {
          padding: 0 11.017vw 43.3333px;
          margin-top: 130.033px;
          font-family: Roobert-Medium, sans-serif;

          .quote {
            font-size: 41.6px;
            line-height: 43.3333px;
            letter-spacing: -1.3px;
          }

          .quote-by {
            font-size: 20.8px;
            margin-top: 21.6667px;
            display: block;
          }
        }

        .percentage-wrap {
          position: absolute;
          bottom: 0;
          font-family: GT-Alpina-Standard-Light, sans-serif;
          width: 138.7px;

          .percentage {
            font-size: 52.0167px;
            letter-spacing: -1.71667px;
          }

          .percentage-description {
            font-family: Roobert-Medium, sans-serif;
            font-size: 13px;
            line-height: 15.6px;
          }
        }

        .row-full {
          width: 100vw;
          position: relative;
          left: -10px;
          &:not(.imgSet){
            margin-top: 112.8px;
          }
          &.imgSet{
            margin-top: 70px;
          }
        }
      }

      .next-case {
        .next-case-body {
          margin: 150px 11.017vw 0;
          border-top: 1px solid;
          padding-top: 50px;

          .ref {
            font-family: Roobert-Bold,
            sans-serif;
            font-size: 13.8667px;
            line-height: 17.3333px;
            letter-spacing: 0.2px;
          }

          .next-title {
            margin-top: 50px;

            span {
              font-size: 52.0667px;
              line-height: 52.0667px;
              letter-spacing: -1.71667px;
              display: block;
              max-width: 607.45px;
            }

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }
        }

        .row-full {
          margin-top: 70px;
          width: 100vw;
          position: relative;
          max-height: 350px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

      }

    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1899px) {
  .case-study-html{
    img, video {
      max-width: 100%;
    }
  }
  .img-mobile-wrap, .percentage-mobile-wrap, .mobile-only-set {
    display: none;
  }
  .desktop-content {
    .body.case-study-html {
      position: absolute;
      top: 0;

      .main-statement-wrap {
        height: 100vh;

        &.crescentHero{
          background-image: url("../static/images/desktop/cases/crescent/1_crescentcase_hero.jpg");
        }
        &.tysHero{
          background-image: url("../static/images/desktop/cases/tys/1 tyscase hero.jpg");
        }

        &.kandaloreHero{
          background-image: url("../static/images/desktop/cases/kandalore/1 CampKCase Hero.jpg");
        }

        &.unitedWayHero{
          background-image: url("../static/images/desktop/cases/unitedway/1 unitedway_hero.jpg");
        }
        &.peepsHero{
          background-image: url("../static/images/desktop/cases/peeps/1 peepsmagazine_hero3.jpg");
        }
        &.thomsonHero{
          background-image: url("../static/images/desktop/cases/thomson/1_thomsonreuters_hero.jpg");
        }
        background-size: cover;
        background-position: center;

        .main-statement {
          font-family: Roobert-Bold, sans-serif;
          font-size: 5.932vw;
          position: relative;
          bottom: 0;
          top: calc(100vh - 6.441vw);
          z-index: 1;
          padding-left: 10px;

          br {
            display: none;
          }
        }

        .num-svg {
          height: 12.712vw;
          position: absolute;
          bottom: 0;
          top: calc(100vh - 14.237vw);
          right: 40px;
        }
      }

      .main-content {
        margin-top: 11.864vw;
        padding: 0 10px;
        max-width: calc(100vw - 20px);

        .head-block {
          position: relative;
          padding: 0 11.017vw;

          .tag {
            font-family: Roobert-Bold, sans-serif;
            font-size: 16px;
            letter-spacing: 0.2px;
          }

          .content-head-text {
            font-size: 5.085vw;
            line-height: 5.085vw;
            letter-spacing: -0.169vw;
            margin-top: 5.508vw;
            max-width: 59.322vw;

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
              display: block;
            }
          }

          .case-name {
            font-family: Roobert-Bold, sans-serif;
            font-size: 20px;
            position: absolute;
            bottom: 0;
          }

          .tag-list {
            margin-top: 19.068vw;
            position: relative;
            left: calc(100% - 127px);
            right: 127px;
            width: 17.186vw;

            .folder-icon {
              width: 15px;
              height: auto;
            }

            ul {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              font-size: 16px;
              line-height: 20px;
              white-space: initial;
              margin-top: 17px;
            }
          }
        }

        .content-row {
          display: flex;
          max-width: 100%;
          padding: 0 11.017vw 0;
          &:not(.imgSet){
            margin-top: 11.017vw;
          }
          &.imgSet{
            margin-top: 6.780vw;
          }

          p {
            font-size: 2.203vw;
            line-height: 2.627vw;
            letter-spacing: -0.042vw;
            font-family: GT-Alpina-Standard-Light, sans-serif;

            &:not(:first-child) {
              margin-top: 2.542vw;
            }

            span.italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .col-3.d-block {
            max-width: 22.034vw;
            width: 100%;
            position: relative;

            img {
              display: block;
              &:not(.widerSideImg){
                width: 15.254vw;
              }
              &.widerSideImg{
                width: 19vw;
              }
            }

            .img-wrap {
              position: absolute;
              bottom: 0;

              .sub-image {
                margin-top: 2.458vw;
              }
            }
          }

          .col-7 {
            width: calc(100% - 22.034vw);
          }
          &.iframe-video{
            .backgroundPlay{
              height: 44.22vw;
              position: relative;
              margin-bottom: 10px;
            }
          }
        }

        .row {
          .full-row {
            max-width: 100%;
            width: 78.220vw;
            &:not(.imgSet){
              margin: 11.017vw auto 0;
            }
            &.imgSet{
              margin: 6.780vw auto 0;
            }
            &.flex{
              display: flex;
            }
            &:not(.flex){
              display: block;
            }
            .iframe-square.iframe-square-l {
              margin-right: 1.695vw;
              max-width: calc(50% - 1.695vw);
            }
            .iframe-square.iframe-square-r {
              margin-left: 1.695vw;
              max-width: calc(50% - 1.695vw);
            }
            .iframe-square .iframe-square-video {
              width: 36.428vw;
              height: 20.339vw;
            }
          }
        }


        .quote-block {
          padding: 0 11.017vw 4.237vw;
          margin-top: 12.712vw;
          font-family: Roobert-Medium, sans-serif;

          .quote {
            font-size: 4.068vw;
            line-height: 4.237vw;
            letter-spacing: -0.1271vw;
          }

          .quote-by {
            font-size: 2.034vw;
            margin-top: 2.119vw;
            display: block;
          }
        }

        .percentage-wrap {
          position: absolute;
          bottom: 0;
          font-family: GT-Alpina-Standard-Light, sans-serif;
          width: 13.559vw;

          .percentage {
            font-size: 5.085vw;
            letter-spacing: -0.169vw;
            margin-top: 2.458vw;
            &:first-of-type{
              margin-top: 0;
            }
          }

          .percentage-description {
            font-family: Roobert-Medium, sans-serif;
            font-size: 1.271vw;
            line-height: 1.525vw;
          }
        }

        .row-full {
          width: 100vw;
          position: relative;
          left: -10px;
          &:not(.imgSet){
            margin-top: 11.017vw;
          }
          &.imgSet{
            margin-top: 6.780vw;
          }
        }
      }

      .next-case {
        .next-case-body {
          margin: 16.949vw 11.017vw 0;
          border-top: 1px solid;
          padding-top: 4.237vw;

          .ref {
            font-family: Roobert-Bold, sans-serif;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2px;
          }

          .next-title {
            margin-top: 4.237vw;
            max-width: 60vw;

            span {
              font-size: 5.085vw;
              line-height: 5.085vw;
              letter-spacing: -0.169vw;
              display: block;
              max-width: 59.322vw;
            }

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }
        }

        .row-full {
          margin-top: 8.475vw;
          width: 100vw;
          position: relative;
          max-height: 350px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

      }

    }
  }
}

@media only screen and (min-width: 1900px) {
  .case-study-html{
    img, video {
      max-width: 100%;
    }
  }
  .img-mobile-wrap, .percentage-mobile-wrap, .mobile-only-set {
    display: none;
  }
  .desktop-content {
    .body.case-study-html {
      position: absolute;
      top: 0;

      .main-statement-wrap {
        height: 100vh;
        &.crescentHero{
          background-image: url("../static/images/desktop/cases/crescent/1_crescentcase_hero.jpg");
        }
        &.tysHero{
          background-image: url("../static/images/desktop/cases/tys/1 tyscase hero.jpg");
        }

        &.kandaloreHero{
          background-image: url("../static/images/desktop/cases/kandalore/1 CampKCase Hero.jpg");
        }
        &.unitedWayHero{
          background-image: url("../static/images/desktop/cases/unitedway/1 unitedway_hero.jpg");
        }
        &.peepsHero{
          background-image: url("../static/images/desktop/cases/peeps/1 peepsmagazine_hero3.jpg");
        }
        &.thomsonHero{
          background-image: url("../static/images/desktop/cases/thomson/1_thomsonreuters_hero.jpg");
        }
        background-size: cover;
        background-position: center;

        .main-statement {
          font-family: Roobert-Bold, sans-serif;
          font-size: 112.708px;
          position: relative;
          bottom: 0;
          top: calc(100vh - 122.379px);
          z-index: 1;
          padding-left: 10px;

          br {
            display: none;
          }
        }

        .num-svg {
          height: 241.528px;
          position: absolute;
          bottom: 0;
          top: calc(100vh - 270.503px);
          right: 40px;
        }
      }

      .main-content {
        margin-top: 225.416px;
        padding: 0 10px;
        max-width: calc(100vw - 20px);

        .head-block {
          position: relative;
          padding: 0 209.323px;

          .tag {
            font-family: Roobert-Bold, sans-serif;
            font-size: 16px;
            letter-spacing: 0.2px;
          }

          .content-head-text {
            font-size: 96.55px;
            line-height: 96.55px;
            letter-spacing: -3.211px;
            margin-top: 104.583px;
            max-width: 1126.52px;

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
              display: block;
            }
          }

          .case-name {
            font-family: Roobert-Bold, sans-serif;
            font-size: 20px;
            position: absolute;
            bottom: 0;
          }

          .tag-list {
            margin-top: 362.1px;
            position: relative;
            left: calc(100% - 127px);
            right: 127px;
            width: 326.534px;

            .folder-icon {
              width: 15px;
              height: auto;
            }

            ul {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              font-size: 16px;
              line-height: 20px;
              white-space: initial;
              margin-top: 17px;
            }
          }
        }

        .content-row {
          max-width: 1880px;
          padding: 0 209.323px 0;

          display: flex;
          justify-content: center;
          &:not(.imgSet){
            margin: 209.2px auto 0;
          }
          &.imgSet{
            margin: 128.75px auto 0;
          }
          &.iframe-video{
            height: 839.733px;
          }

          p {
            font-size: 41.857px;
            line-height: 49.913px;
            letter-spacing: -0.798px;
            font-family: GT-Alpina-Standard-Light, sans-serif;

            &:not(:first-child) {
              margin-top: 48.298px;
            }

            span.italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .col-3.d-block {
            max-width: 418.646px;
            width: 100%;
            position: relative;

            img {
              display: block;
              &:not(.widerSideImg){
                width: 289.826px;
              }
              &.widerSideImg{
                width: 361px;
              }
            }

            .img-wrap {
              position: absolute;
              bottom: 0;

              .sub-image {
                margin-top: 46.702px;
              }
            }
          }

          .col-7 {
            width: 1042.72px;
          }
        }

        .row {
          .full-row {
            max-width: 100%;
            width: 1486.18px;
            &:not(.imgSet){
              margin: 209.2px auto 0;
            }
            &.imgSet{
              margin: 128.75px auto 0;
            }
            &.flex{
              display: flex;
              .iframe-square.iframe-square-l {
                margin-right: 1.695vw;
                max-width: calc(50% - 1.695vw);
              }
              .iframe-square.iframe-square-r {
                margin-left: 1.695vw;
                max-width: calc(50% - 1.695vw);
              }
              .iframe-square .iframe-square-video {
                width: 36.428vw;
                height: 20.339vw;
              }
            }
            &:not(.flex){
              display: block;
            }
          }
        }

        .quote-block {
          padding: 0 209.323px 80.503px;
          font-family: Roobert-Medium, sans-serif;
          width: 1486.18px;
          margin: 241.528px auto 0;

          .quote {
            font-size: 77.25px;
            line-height: 80.45px;
            letter-spacing: -2.4px;
          }

          .quote-by {
            font-size: 38.646px;
            margin-top: 40.261px;
            display: block;
          }
        }

        .percentage-wrap {
          position: absolute;
          bottom: 0;
          font-family: GT-Alpina-Standard-Light, sans-serif;
          width: 257.621px;

          .percentage {
            font-size: 96.615px;
            letter-spacing: -3.211px;
            margin-top: 46.6px;
            &:first-of-type{
              margin-top: 0;
            }
          }

          .percentage-description {
            font-family: Roobert-Medium, sans-serif;
            font-size: 24.149px;
            line-height: 28.975px;
          }
        }

        .row-full {
          width: 100vw;
          position: relative;
          left: -10px;
          &:not(.imgSet){
            margin-top: 209.2px;
          }
          &.imgSet{
            margin-top: 128.75px;
          }

          img, video {
            width: 100%;
          }
        }
      }

      .next-case {
        .next-case-body {
          margin: 322.031px 209.323px 0;
          border-top: 1px solid;
          padding-top: 80.503px;

          .ref {
            font-family: Roobert-Bold, sans-serif;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: .2px;
          }

          .next-title {
            margin-top: 80.503px;
            max-width: 1140px;

            span {
              font-size: 96.55px;
              line-height: 96.55px;
              letter-spacing: -3.211px;
              display: block;
              max-width: 1126.52px;
            }

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }
        }

        .row-full {
          margin-top: 161.025px;
          width: 100vw;
          position: relative;
          max-height: 350px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

      }

    }
  }
}