//sass --watch scss/common-media.scss css/common-media.css --style compressed

@import "vars";

/*---------+---------+---------+---------*/
/*          |GENERAL STYLES|             */
/*---------+---------+---------+---------*/
@font-face {
  font-family: GT-Alpina-Standard-Regular;
  src: url("../static/fonts/GT Alpina-woff/GT-Alpina-Standard-Regular.woff");
}

@font-face {
  font-family: GT-Alpina-Standard-Light;
  src: url("../static/fonts/GT Alpina-woff/GT-Alpina-Standard-Light.woff");
}

@font-face {
  font-family: GT-Alpina-Standard-Light-Italic;
  src: url("../static/fonts/GT Alpina-woff/GT-Alpina-Standard-Light-Italic.woff");
}

@font-face {
  font-family: Roobert-Bold;
  src: url("../static/fonts/Roobert-woff/Roobert-Bold.woff");
  font-feature-settings: 'ss02';
  font-feature-settings: 'ss03';

}

@font-face {
  font-family: Roobert-Regular;
  src: url("../static/fonts/Roobert-woff/Roobert-Regular.woff");
  font-feature-settings: 'ss02';
  font-feature-settings: 'ss03';

}

@font-face {
  font-family: Roobert-Medium;
  src: url("../static/fonts/Roobert-woff/Roobert-Medium.woff");
  font-feature-settings: 'ss02';
  font-feature-settings: 'ss03';
}

@font-face {
  font-family: Roobert-Bold;
  src: url("../static/fonts/Roobert-woff/Roobert-Bold.woff");
  font-feature-settings: 'ss02';
  font-feature-settings: 'ss03';


}

@font-face {
  font-family: Roobert-Light;
  src: url("../static/fonts/Roobert-woff/Roobert-Light.woff");
  font-feature-settings: 'ss02';
  font-feature-settings: 'ss03';


}

/*---------+---------+---------+---------*/
/*          |GENERAL STYLES|             */
/*---------+---------+---------+---------*/

u {
  text-decoration: underline;
  color: inherit;
  letter-spacing: -0.5px;
  text-decoration: underline red 1px;
  text-underline-offset: 3px;
}

body {
  color: #FF3300;
}

a {
  text-decoration: underline;
  cursor: pointer;
  transition: .3s;
  color: inherit;

  &:hover {
    opacity: .5;
  }

  i {
    font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
  }
}

.see-all-insights {
  cursor: pointer;
  transition: .3s;
  color: inherit;

  &:hover {
    opacity: .5;
  }
}

.active-element {
  transition: .3s;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }
}

.clear-underline {
  text-decoration: unset;
}

* {
  outline: unset;

}

.preventClick {
  pointer-events: none;
}

.mobile-content {
  .navigation {
    background: white;
    position: fixed;
    bottom: 0;
    padding: 0 10px;
    width: calc(100vw - 20px);

    &.nav-opened-top {
      top: 0;
    }

    &.nav-opened-cases {
      bottom: calc(30px * 6); //TODO 6 HARDCODED
      .mobile-menu {
        display: none;
      }
    }

    &.nav-opened-by-content {
      top: 0;
      bottom: auto;

      .mobile-menu {
        display: none;
      }
    }

    &.nav-opened {
      .mobile-menu {
        max-height: 50vh;
      }

      .arrow-menu {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }

    &.nav-opened-by-insights {
      bottom: auto;
      top: 0;
    }

    &.nav-opened-by-projects {
      bottom: auto;
      top: 0;
    }

    .navigation-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 16px;
      line-height: 42px;
    }

    .mobile-menu {
      transition: .5s;
      max-height: 0;
      width: 100%;

      .row {
        height: 30px;
        border-top: 1px solid;

        &.preopened {
          top: calc(100vh - 31px * 3 - 42.5px);
        }

        .flex-navigation-items {
          display: flex;
          justify-content: space-between;
          width: 100%;
          font-size: 15px;
          line-height: 29px;
          font-family: GT-Alpina-Standard-Light, sans-serif;

          .text-nav {
            margin-right: 10px;
          }
        }
      }
    }

    .text-menu {
      font-family: Roobert-Bold, sans-serif;

    }

    .arrow-menu {
      display: inline-block;
      transition: .1s;
      font-family: GT-Alpina-Standard-Light, sans-serif;
      font-size: 17px;
      margin-left: 6px;
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }

    .contact-menu {
      display: none;

      .contact-wrap {
        position: relative;
        top: calc(50% - 42.5px);
        transform: translateY(calc(20px - 50%));
        width: 64vw;
        margin: 0 auto;
      }

      &.opened {
        height: calc(100vh - 42.5px);
        position: fixed;
        display: block;
        overflow: auto;
      }

      background: white;
      top: 42.5px;
      bottom: 0;
      width: calc(100% - 20px);
      left: 0;
      padding: 0 10px;

      .contactImg {
        max-width: 43.478vw;
      }

      .contact-heading {
        margin-top: 7.246vw;

        h2 {
          font-family: Roobert-Bold, sans-serif;
          font-size: 5.333vw;
          line-height: 5.333vw;
        }

        a {
          font-family: GT-Alpina-Standard-Light, sans-serif;
          font-size: 4.267vw;
          line-height: 5.333vw;
        }
      }

      .d-block {
        font-family: GT-Alpina-Standard-Light, sans-serif;
        font-size: 3.865vw;
        line-height: 4.831vw;
      }

      .col-3 {
        margin-top: 14.493vw;
      }

      .col-2 {
        margin-top: 6.039vw;

        .clear-underline {
          display: block;
        }
      }

      .top-right {
        position: absolute;
        right: 4.831vw;
        top: 4.831vw;
        width: 7.246vw;
        height: 7.246vw;
      }
    }

    .insights-content-wrap-parent {
      position: absolute;
      top: 29px;
      width: 100%;
      background: white;
      max-height: calc(100vh - 93px - 42.5px);
      overflow: scroll;

      .insights-content-wrap {
        padding-top: 45px;

        .top-right {
          position: absolute;
          right: 10px;
          width: 7.246vw;
          height: 7.246vw;
        }

        .main-title {
          font-size: 12vw;
          letter-spacing: -2px;
          font-family: GT-Alpina-Standard-Light, sans-serif;
        }

        .filter-insights {
          margin-top: 44px;
          margin-bottom: 32px;

          .folder-icon {
            width: 15px;
            height: auto;
          }

          .filter-span {
            font-family: Roobert-Medium, sans-serif;
            font-size: 15px;
            line-height: 15px;
          }

          .tag-list {
            display: none;
            font-family: Roobert-Medium, sans-serif;
            font-size: 14px;
            line-height: 24px;
            white-space: initial;
            margin-top: 30px;
            margin-bottom: 40px;

            li {
              display: inline-block;
              margin-right: 10px;
              margin-top: 10px;
            }
          }
        }

        .insights-block {
          .red-square {
            width: 82.400vw;
            height: 82.400vw;
            white-space: initial;
            border: 1px solid #f30;
            padding: 22px;
            position: relative;
            display: block;
            margin-top: .847vw;

            .title {
              font-family: Roobert-Medium, sans-serif;
              font-size: 12px;
              line-height: 16px;
            }

            p {
              font-size: 25.9833px;
              line-height: 25.9833px;
              position: absolute;
              bottom: 22px;
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }
          }
        }
      }
    }

    .projects-content-wrap-parent {
      position: absolute;
      top: 29px;
      width: 100%;
      background: white;
      max-height: calc(100vh - 31px * 3 - 42.5px);
      overflow: scroll;

      .projects-content-wrap {
        padding-top: 45px;

        .top-right {
          position: absolute;
          right: 10px;
          width: 7.246vw;
          height: 7.246vw;
        }

        .main-title {
          font-size: 12vw;
          letter-spacing: -2px;
          font-family: GT-Alpina-Standard-Light, sans-serif;
        }

        .projects-block {
          margin-top: 40px;

          .red-square {
            width: 82.400vw;
            height: 82.400vw;
            white-space: initial;
            border: 1px solid #f30;
            padding: 22px;
            position: relative;
            display: block;
            margin-top: .847vw;

            .title {
              font-family: Roobert-Medium, sans-serif;
              font-size: 12px;
              line-height: 16px;
            }

            p {
              font-size: 25.9833px;
              line-height: 25.9833px;
              position: absolute;
              bottom: 22px;
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }
          }
        }
      }
    }
  }

  #caseStudyMobileContent {
    position: fixed;
    display: none;

    &.opened {
      height: calc(30px * 6); //TODO 6 HARDCODED
      position: fixed;
      display: block;
      top: calc(100% - 30px * 6); //TODO 6 HARDCODED
      width: 100vw;
      background: white;
    }

    top: 100vh;
    bottom: 0;
    transition: .5s;


    .section.case-study-panel__inner {
      position: absolute;
      background: white;
      overflow: hidden;
      width: calc(100% - 20px);
      padding: 0 10px;

      .case-study-panel__header {
        height: 29px;
        position: absolute;
        border-top: 1px solid;
        width: calc(100% - 20px);
        background: white;
        z-index: 1;

        .case-study-text {
          font-size: 15px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          height: 16px;

          .case-study-index {
            font-family: Roobert-Regular, sans-serif;
            font-size: 16px;
            position: absolute;
            right: 0;
          }

          .case-study-text-wrap {
            font-family: GT-Alpina-Standard-Light, sans-serif;
            position: absolute;

            .case-study-arrow {
              margin-left: 10px;
            }

          }
        }
      }

      .case-study-panel__body {
        position: absolute;
        height: 100%;

        .case-study-panel__text {
          font-size: 10.870vw;
          padding-top: 15.048vw;
          max-width: 84vw;
          letter-spacing: -2px;

          .main-statement {
            font-family: GT-Alpina-Standard-Light, sans-serif;
          }

          .main-statement-italic {
            font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
          }
        }
      }

      .case-number {
        font-family: Roobert-Regular, sans-serif;
        position: absolute;
        bottom: 0;
        right: 10px;
        font-size: 120px;
      }

      .top-right {
        position: absolute;
        top: 16.464vw;
        right: 10px;
        width: 7.246vw;
        height: 7.246vw;
      }

      &.opened {
        height: calc(100vh - 40px - 30px * 5); //TODO HARDCODED 5
        bottom: calc(30px * calc(5 - var(--item-index))); //TODO HARDCODED 5 dep on index
      }

      height: 30px;

      &.with-calc-top {
        top: calc(100vh - 40px - 30px * calc(var(--menu-items-length) - var(--item-index)));
      }

      &.preopened {
        top: calc(100% - calc(30px * calc(var(--menu-items-length) - var(--item-index))));
      }
    }
  }
}

.containery {
  &.displayNone {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  header {
    .logo {
      margin-top: 10px;

      img {
        max-width: 60px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .desktop-content {
    .navigation {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 999;
      &.nav-opened {
        .desktop-menu {
          &:not(.opened) {
            width: calc(var(--menu-items-length) * 40px);
          }

          &.opened {
          width: calc(100vw - 53px);
            //left: -4px;
          }
        }
      }

      .navigation-content {
        height: 100%;
        position: relative;
        display: inline-block;
        width: 31px;
        transition: .5s;

        &.white-back {
          background: white;
        }

        &.menu-content-opened {
          transform: translateX(
                          calc(-100vw + #{$menuPanelWidth} +
                          calc(var(--case-study-items) * #{$menuItemWidth}))); //6
          background-color: white;
        }

        .sideways {
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
          position: absolute;

          #desktop-menu-js, #desktop-contact-js {
            display: flex;
          }

          &.menu-sideway {
            top: 30px;
            right: 0;
            left: 0;
          }

          &.contact-sideway {
            top: 50%;
            right: 0;
          }

          .navigation-btn {
            font-family: Roobert-Bold, sans-serif;
          }

          .contact-btn {
            position: absolute;
            font-family: Roobert-Bold, sans-serif;
            padding-bottom: 5px;
          }

          .navigation-arrow-up {
            font-family: GT-Alpina-Standard-Light, sans-serif;

            &.rotated {
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
        }
      }

      .desktop-menu, .contact-menu {
        height: 100%;
        position: relative;
        display: inline-block;
        width: 0;
        transition: 0.3s;

        .sections {
          position: absolute;
          background: white;
          height: 100%;
          display: inline-block;
          white-space: nowrap;
          width: 100%;

          .sideways {
            font-family: GT-Alpina-Standard-Light, sans-serif;
            font-size: 20px;

            #menu-item-0-js .menu-item-text {
              top: 180px;
            }

            #menu-item-1-js .menu-item-text {
              top: 140px;
            }

            #menu-item-2-js .menu-item-text {
              top: 140px;
            }

            .menu-item-text, .contact-item-text {
              position: absolute;
              left: 0px;
              -webkit-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              transform: rotate(-90deg);
              right: 100%;

              .menu-item-title, .menu-item-arrow, .contact-item-title, .contact-item-arrow {
                position: relative;
                top: 18px;
              }

              .menu-item-arrow, .contact-item-arrow {
                padding-left: 62px;
              }
            }

            .menu-item-arrow-bottom {
              position: absolute;
              bottom: 10px;
              left: 13px;
              -webkit-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              transform: rotate(-90deg);

            }
          }

          .section {
            &.closed {
              left: calc(100% - 40px);
            }

            background: white;
            border-left: 1px solid #f30;
            display: inline-block;
            height: calc(100% - 20px);
            pointer-events: auto;
            position: absolute;
            width: calc(100vw - calc(var(--menu-items-length) - var(--menu-item-index)) * 40px + 10px - calc(var(--menu-item-index) * 40px)); // TODO HARDCODED 40*5
            left: calc(var(--menu-item-index) * 40px);
            z-index: var(--menu-item-index);
            top: 10px;

            &.contact-section {
              width: 40px;
              left: 0;
              z-index: 3;
            }
          }
        }
      }

      .contact-menu {
        width: 0;
        transition: 0.5s;
        //left: -4px;
        z-index: 999;

        &.opened {
          width: 33.051vw;
        }

        .contact-item-text {
          top: 138px;
        }

        .contact-line-bottom {
          position: absolute;
          bottom: 10px;
          left: 13px;
        }

        .contact-content {
          a, p {
            font-family: GT-Alpina-Standard-Light, sans-serif;
            font-size: 1.356vw;
            line-height: 1.695vw;
          }

          .inner-row {
            position: relative;
            padding-left: 6.441vw;

            .contactImg {
              max-width: 13.136vw;
              margin-top: 13.559vw;
            }

            .contact-heading {
              margin-top: 2.119vw;

              h2 {
                font-family: Roobert-Bold, sans-serif;
                font-size: 1.695vw;
                line-height: 2.542vw;
              }
            }

            .col-3.d-block {
              margin-top: 4.915vw;
            }

            .col-2.d-block {
              margin-top: 2.373vw;

              a {
                display: block;
              }
            }

            .top-right {
              position: absolute;
              right: 0;
              top: 20px;
              left: 25.424vw;
            }
          }
        }
      }

      .insights-wrap, .projects-wrap {
        height: inherit;
        overflow-y: auto;
      }


    }
  }
  header {
    .logo {
      margin-top: 10px;

      img {
        width: 5.085vw;
        max-width: 81.35px;
        min-width: 60px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1179px) {
  .desktop-content {
    .navigation {
      .navigation-content {
        .sideways {
          margin-top: 10px;
          font-size: 14px;
          line-height: 20px;

          .contact-btn {
            bottom: 50%;
          }

          .navigation-arrow-up {
            margin-left: 7px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1180px) {
  .desktop-content {
    .navigation {
      .navigation-content {
        .sideways {
          margin-top: 10px;
          font-size: 14px;
          line-height: 20px;

          .contact-btn {
            bottom: 50%;
          }

          .navigation-arrow-up {
            margin-left: 7px;
          }
        }
      }
    }
  }
}

//Scaling content
@media only screen and (min-width: 768px) and (max-width: 1899px) {
  .insights-content {
    margin-left: 10.763vw;
    margin-top: 71px;
    position: relative;

    .insights-content-wrap {
      width: calc((0.593vw + 21.186vw + 1vw) * 3);
      position: relative;
    }

    .main-title {
      font-family: GT-Alpina-Standard-Light, sans-serif;
      font-size: 5.508vw;
      line-height: 5.508vw;
      white-space: initial;
      letter-spacing: -0.169vw;
    }

    .filter-insights {
      margin-top: 3.390vw;
    }

    .folder-icon {
      width: 15px;
      height: auto;
    }

    .filter-span {
      font-family: Roobert-Medium, sans-serif;
      font-size: 15px;
      line-height: 15px;
    }

    .tag-list {
      font-family: Roobert-Medium, sans-serif;
      font-size: 14px;
      line-height: 24px;
      white-space: initial;
      margin-top: 30px;
      margin-bottom: 40px;

      li {
        display: inline-block;
        width: 16.5vw;
      }
    }

    .top-right {
      position: absolute;
      right: 3.593vw;
      top: 6px;
      width: 2.542vw;
      height: 2.542vw;
    }

    .insights-block {
      margin-top: 50px;

      .row {
        white-space: initial;
      }

      .red-square {
        width: 18.136vw;
        height: 18.136vw;
        white-space: initial;
        border: 1px solid #f30;
        padding: 1.441vw;
        position: relative;
        display: inline-block;
        margin-right: 0.593vw;
        margin-top: 0.847vw;

        .title {
          font-family: Roobert-Medium, sans-serif;
          font-size: 1.017vw;
          line-height: 1.356vw;
        }

        p {
          font-size: 2.203vw;
          line-height: 2.203vw;
          position: absolute;
          bottom: 17px;
          letter-spacing: -0.5px;
        }
      }
    }
  }
  .projects-content {
    margin-left: 10.763vw;
    margin-top: 71px;
    position: relative;

    .projects-content-wrap {
      width: calc((0.593vw + 21.186vw + 1vw) * 3);
      position: relative;
    }

    .main-title {
      font-family: GT-Alpina-Standard-Light, sans-serif;
      font-size: 5.508vw;
      line-height: 5.508vw;
      white-space: initial;
      letter-spacing: -0.169vw;
    }

    .top-right {
      position: absolute;
      right: 3.593vw;
      top: 6px;
      width: 2.542vw;
      height: 2.542vw;
    }

    .projects-block {
      margin-top: 3.39vw;

      .row {
        white-space: initial;
      }

      .red-square {
        width: 18.136vw;
        height: 18.136vw;
        white-space: initial;
        border: 1px solid #f30;
        padding: 1.441vw;
        position: relative;
        display: inline-block;
        margin-right: 0.593vw;
        margin-top: 0.847vw;

        .title {
          font-family: Roobert-Bold, sans-serif;
          font-size: 1.017vw;
          line-height: 1.356vw;
        }

        p {
          font-size: 2.203vw;
          line-height: 2.203vw;
          position: absolute;
          bottom: 17px;
          letter-spacing: -0.5px;
        }
      }
    }
  }
}

//Static content
@media only screen and (min-width: 1900px) {
  .insights-content {
    margin-left: 204.483px;
    margin-top: 71px;
    position: relative;

    .insights-content-wrap {
      width: 1298.4px;
      position: relative;
    }

    .main-title {
      font-family: GT-Alpina-Standard-Light, sans-serif;
      font-size: 104.65px;
      line-height: 104.65px;
      white-space: initial;
      letter-spacing: -3.2px;
    }

    .filter-insights {
      margin-top: 64.4px;
    }

    .folder-icon {
      width: 15px;
      height: auto;
    }

    .filter-span {
      font-family: Roobert-Medium, sans-serif;
      font-size: 15px;
      line-height: 15px;
    }

    .tag-list {
      font-family: Roobert-Medium, sans-serif;
      font-size: 14px;
      line-height: 24px;
      white-space: initial;
      margin-top: 30px;
      margin-bottom: 40px;

      li {
        display: inline-block;
        width: 199.5px;
      }
    }

    .top-right {
      position: absolute;
      right: 3.593vw;
      top: 6px;
      width: 48.2833px;
      height: 48.2833px;
    }

    .insights-block {
      margin-top: 50px;

      .row {
        white-space: initial;
      }

      .red-square {
        width: 344.583px;
        height: 344.583px;
        white-space: initial;
        border: 1px solid #f30;
        padding: 27.3667px;
        position: relative;
        display: inline-block;
        margin-right: 11.2667px;
        margin-top: 16.0833px;

        .title {
          font-family: Roobert-Medium, sans-serif;
          font-size: 19.3167px;
          line-height: 25.75px;
        }

        p {
          font-size: 41.85px;
          line-height: 41.85px;
          position: absolute;
          bottom: 17px;
          letter-spacing: -0.5px;
        }
      }
    }
  }
  .projects-content {
    margin-left: 204.483px;
    margin-top: 71px;
    position: relative;

    .projects-content-wrap {
      width: 1298.4px;
      position: relative;
    }

    .main-title {
      font-family: GT-Alpina-Standard-Light, sans-serif;
      font-size: 104.65px;
      line-height: 104.65px;
      white-space: initial;
      letter-spacing: -3.2px;
    }

    .top-right {
      position: absolute;
      right: 3.593vw;
      top: 6px;
      width: 48.2833px;
      height: 48.2833px;
    }

    .projects-block {
      margin-top: 134.4px;

      .row {
        white-space: initial;
      }

      .red-square {
        width: 344.583px;
        height: 344.583px;
        white-space: initial;
        border: 1px solid #f30;
        padding: 27.3667px;
        position: relative;
        display: inline-block;
        margin-right: 11.2667px;
        margin-top: 16.0833px;

        .title {
          font-family: Roobert-Medium, sans-serif;
          font-size: 19.3167px;
          line-height: 25.75px;
        }

        p {
          font-size: 41.85px;
          line-height: 41.85px;
          position: absolute;
          bottom: 17px;
          letter-spacing: -0.5px;
        }
      }
    }
  }

}

//Contact mobile menu stop scale from 500px and higher to 767 - static

@media only screen and (min-width: 500px) and (max-width: 767px) {
  //static
  .mobile-content {
    .navigation {
      .contact-menu {

        .contact-wrap {
          width: 319.35px;
          margin: 0 auto;
        }

        .contactImg {
          max-width: 216.95px;
        }

        .contact-heading {
          margin-top: 36.15px;

          h2 {
            font-size: 26.6px;
            line-height: 26.6px;
          }

          a {
            font-size: 21.2833px;
            line-height: 26.6px;
          }
        }

        .d-block {
          font-size: 19.2833px;
          line-height: 24.1px;
        }

        .col-3 {
          margin-top: 72.3167px;
        }

        .col-2 {
          margin-top: 30.1333px;
        }

        .top-right {
          width: 36.15px;
          height: 36.15px;
        }
      }

      .insights-content-wrap-parent {
        .insights-content-wrap {
          .top-right {
            right: 10.868vw;
          }

          .insights-block .red-square {
            width: 44.4vw;
            height: 44.4vw;
            display: inline-block;
            margin-top: 1.847vw;
            margin-right: 1.847vw;
            padding: unset;

            .title {
              position: relative;
              top: 2vw;
              left: 2vw;
            }

            p {
              bottom: 2vw;
              padding: 2vw;
            }
          }
        }
      }

      .projects-content-wrap-parent {
        .projects-content-wrap {
          .top-right {
            right: 10.868vw;
          }

          .projects-block .red-square {
            width: 44.4vw;
            height: 44.4vw;
            display: inline-block;
            margin-top: 1.847vw;
            margin-right: 1.847vw;
            padding: unset;

            .title {
              position: relative;
              top: 2vw;
              left: 2vw;
            }

            p {
              bottom: 2vw;
              padding: 2vw;
            }
          }
        }
      }
    }
  }
}

//Contact desktop menu stop scale from 500px and higher to 767 - static

@media only screen and (min-width: 1600px) {
  .desktop-content {
    .navigation {
      .contact-menu {
        &.opened {
          width: 528.8px;
        }

        .contact-content {
          a, p {
            font-size: 21.6833px;
            line-height: 27.1167px;
          }

          .inner-row {
            padding-left: 103.05px;

            .contactImg {
              max-width: 210.167px;
            }

            .contact-heading {
              h2 {
                font-size: 27.1167px;
                line-height: 40.6667px;
              }
            }

            .top-right {
              left: 406.783px;
            }
          }
        }
      }
    }
  }
}
