//sass --watch scss/main.scss css/main.css --style compressed

@font-face {
  font-family: GT-Alpina-Standard-Light;
  src: url("../static/fonts/GT Alpina-woff/GT-Alpina-Standard-Light.woff");
}

@font-face {
  font-family: GT-Alpina-Standard-Light-Italic;
  src: url("../static/fonts/GT Alpina-woff/GT-Alpina-Standard-Light-Italic.woff");
}

@font-face {
  font-family: Roobert-Bold;
  src: url("../static/fonts/Roobert-woff/Roobert-Bold.woff");
}

/*---------+---------+---------+---------*/
/*          |GENERAL STYLES|             */
/*---------+---------+---------+---------*/


a,
u {
  text-decoration: underline;
  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: .5;
  }
}

* {
  outline: unset;
}


/*---------+---------+---------+---------*/
/*          |MENU STYLES|                */
/*---------+---------+---------+---------*/



/*---------+---------+---------+---------*/
/*          |HOME PAGE STYLES|           */
/*---------+---------+---------+---------*/



/*---------+---------+---------+---------+---------+---------*/
/*          |RESPONSIVE FONTS AND SIZES DESKTOP|             */
/*---------+---------+---------+---------+---------+---------*/



/*---------+---------+---------+---------+---------+--------*/
/*          |RESPONSIVE FONTS AND SIZES MOBILE|             */
/*---------+---------+---------+---------+---------+--------*/