//sass --watch scss/media.scss css/media.css --style compressed

@import "vars";

/*---------+---------+---------+---------*/
/*          |GENERAL STYLES|             */
/*---------+---------+---------+---------*/

@media only screen and (min-width: 768px) {
  .homepage {

    .mobile-content {
      display: none;
    }

    .desktop-content {
      .containery {
        overflow-x: hidden;

        &.height-0 {
          height: 0;
        }


        .body {
          .img-block {
            display: flex;
            justify-content: center;

            img {
              max-width: calc(100% - 13.559vw);
              margin: 8.051vw auto 0 auto;
              width: 100%;
              height: 100%;
            }
          }

          .main-statement {
            font-family: GT-Alpina-Standard-Light, sans-serif;
            letter-spacing: -1px;
          }

          .body-block {
            h1 {
              font-family: Roobert-Bold, sans-serif;
            }

            .block-copy {
              i {
                font-family: GT-Alpina-Standard-Light-Italic, sans-serif
              }
            }

            .text {
              font-family: GT-Alpina-Standard-Light, sans-serif;

              i {
                font-family: GT-Alpina-Standard-Light-Italic, sans-serif
              }
            }

            .refs-block {

              h2 {
                font-family: Roobert-Bold, sans-serif;
              }

              .ref-item {
                font-family: GT-Alpina-Standard-Light, sans-serif;

                &.space-between {
                  display: flex;
                  justify-content: space-between;
                }
              }

              i {
                font-family: GT-Alpina-Standard-Light-Italic, sans-serif
              }

              p {
                font-family: GT-Alpina-Standard-Light, sans-serif;
              }

            }

            #footer {


              .inner-row {
                position: relative;
                justify-content: space-between;
              }

              h2 {
                font-family: Roobert-Bold, sans-serif;
              }

              a, p {
                font-family: GT-Alpina-Standard-Light, sans-serif;
              }

              .d-block * {
                display: block;
              }
            }


          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1179px) {
  .homepage {
    .desktop-content {
      .containery {
        padding: 0 10px;

        .body {
          .main-statement {
            font-size: 4.48vw;
            line-height: 5.09vw;
            margin-top: 7.051vw;
          }

          #practices-d {
            margin-top: 33.746vw;
          }

          #designing-communications, #designing-strategy {
            margin-top: 5.085vw;
          }

          #cross-block {
            position: relative;
            margin-top: 13.305vw;

            .cross {
              position: relative;
              height: 62.712vw;

              .cross-body {
                position: absolute;
                top: 0;
                //z-index: 1;
                height: 100%;
                width: 100%;

                .refs-corner {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  max-width: 18vw;
                }
              }
            }
          }

          #the-team-d {
            margin-top: 11.6vw;
          }

          .body-block {
            h1 {
              font-size: 2.083vw;
              line-height: 2.083vw;
            }

            .first-image {
              margin: 5.085vw 0 auto;
              max-width: 100%;
              height: auto;
            }

            .text {
              font-size: 2.222vw;
              line-height: 2.500vw;

              &:not(:first-child) {
                margin-top: 2.966vw;
              }
            }

            .row {
              display: flex;
              max-width: 100%;
              padding: 0 9.028vw;

              .col-3 {
                max-width: 31%;
                width: 100%;
              }

              .col-7 {
                max-width: 69%;
                width: 100%;
              }
            }

            .refs-block {
              width: 22.424vw;

              img {
                width: 10.847vw;
              }

              h2 {
                margin-top: 15px;
                line-height: 18px;
                font-size: 15px;
              }

              i {
                line-height: 18px;
                font-size: 14px;
              }

              img {
                max-width: 22.034vw;
                max-height: 16.949vw;
              }

              .ref-item {
                margin-top: 19px;
                margin-bottom: 8px;
                line-height: 18px;
                font-size: 15px;


                &.fake-input {
                  border-bottom: 1px solid;
                }


              }

              p {
                margin-top: 25px;
                font-size: 13px;
                line-height: 15px;

                &.fake-input__label {
                  margin-top: 0px;
                }
              }

            }

            .team-item {
              margin-top: 8.5vw !important;
            }

            .dog-image {
              margin: 8.051vw 0;

              img {
                max-width: 36.017vw;
                margin: 0 auto;
              }
            }

            #footer {
              line-height: 20px;
              margin-top: 12.763vw;
              margin-bottom: 8.475vw;

              .footer-img {
                width: 13.220vw;
              }

              .inner-row {
                padding: 0;
                top: 50%;
                transform: translateY(-50%);

                h2, a, p {
                  line-height: 16px;
                  font-size: 13px;
                }
              }
            }

          }

        }
      }
    }
  }
}

@media only screen and (min-width: 1180px) {
  .homepage {
    .desktop-content {
      .containery {
        padding: 0 10px;

        .body {
          .main-statement {
            font-size: 4.48vw;
            line-height: 5.09vw;
            margin-top: 7.051vw;
          }

          #practices-d {
            margin-top: 33.746vw;
          }

          #designing-communications, #designing-strategy {
            margin-top: 5.085vw;
          }

          #cross-block {
            position: relative;
            margin-top: 13.305vw;

            .cross {
              position: relative;
              height: 46.712vw;

              .cross-body {
                position: absolute;
                top: 0;
                //z-index: 1;
                height: 100%;
                width: 100%;

                .refs-corner {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  max-width: 18vw;
                }
              }
            }
          }

          #the-team-d {
            margin-top: 11.6vw;
          }

          .body-block {
            h1 {
              font-size: 2.083vw;
              line-height: 2.083vw;
            }

            .first-image {
              margin: 5.085vw 0 auto;
              max-width: 100%;
              height: auto;
              max-height: 63.559vw;
            }

            .text {
              font-size: 2.222vw;
              line-height: 2.500vw;

              &:not(:first-child) {
                margin-top: 2.966vw;
              }
            }

            .row {
              display: flex;
              max-width: 100%;
              padding: 0 9.028vw;

              .col-3 {
                max-width: 31%;
                width: 100%;
              }

              .col-7 {
                max-width: 69%;
                width: 100%;
              }
            }

            .refs-block {
              width: 22.424vw;

              h2 {
                margin-top: 2.542vw;
                line-height: 1.667vw;
                font-size: 1.333vw;
              }

              i {
                line-height: 1.667vw;
                font-size: 1.333vw;
              }

              img {
                max-width: 22.034vw;
                max-height: 16.949vw;
              }

              .ref-item {
                margin-top: 2.119vw;
                margin-bottom: 15px;
                line-height: 1.667vw;
                font-size: 1.333vw;


                &.fake-input {
                  border-bottom: 1px solid;
                }


              }

              p {
                margin-top: 2.119vw;
                font-size: 1.111vw;
                line-height: 1.389vw;

                &.fake-input__label {
                  margin-top: 15px;
                }
              }

            }

            .team-item {
              margin-top: 8.5vw !important;
            }

            .dog-image {
              margin: 7.627vw 0;

              img {
                max-width: 36.017vw;
                margin: 0 auto;
              }
            }

            #footer {
              line-height: 20px;
              margin-top: 12.763vw;
              margin-bottom: 8.475vw;

              .footer-img {
                width: 13.220vw;
              }

              .inner-row {
                padding: 0;
                top: 50%;
                transform: translateY(-50%);

                h2, a, p {
                  line-height: 1.667vw;
                  font-size: 1.333vw;
                }
              }
            }

          }

        }
      }
    }
  }
}