//sass --watch scss/media.scss css/media.css --style compressed

@import "vars";

/*---------+---------+---------+---------*/
/*          |GENERAL STYLES|             */
/*---------+---------+---------+---------*/

@media only screen and (min-width: 768px) {
  .homepage {

    .mobile-content {
      display: none;
    }

    .desktop-content {
      .containery {
        overflow-x: hidden;

        &.height-0 {
          height: 0;
        }


        .body {
          .img-block {
            display: flex;
            justify-content: center;

            img {
              max-width: 1622.38px;
              width: 100%;
              height: 100%;
            }
          }

          .main-statement {
            font-family: GT-Alpina-Standard-Light, sans-serif;
          }

          .body-block {
            h1 {
              font-family: Roobert-Bold, sans-serif;
            }

            .block-copy {
              i {
                font-family: GT-Alpina-Standard-Light-Italic, sans-serif
              }
            }

            .text {
              font-family: GT-Alpina-Standard-Light, sans-serif;

              i {
                font-family: GT-Alpina-Standard-Light-Italic, sans-serif
              }
            }

            .refs-block {

              h2 {
                font-family: Roobert-Bold, sans-serif;
              }

              .ref-item {
                font-family: GT-Alpina-Standard-Light, sans-serif;

                &.space-between {
                  display: flex;
                  justify-content: space-between;
                }
              }

              i {
                font-family: GT-Alpina-Standard-Light-Italic, sans-serif
              }

              p {
                font-family: GT-Alpina-Standard-Light, sans-serif;
              }

            }

            #footer {


              .inner-row {
                position: relative;
                justify-content: space-between;
              }

              h2 {
                font-family: Roobert-Bold, sans-serif;
              }

              a, p {
                font-family: GT-Alpina-Standard-Light, sans-serif;
              }

              .d-block * {
                display: block;
              }
            }


          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1179px) {
  .homepage {
    .desktop-content {
      .containery {
        padding: 0 10px;

        .body {
          .main-statement {
            font-size: 4.48vw;
            line-height: 5.09vw;
            margin-top: 7.051vw;
            letter-spacing: -0.1048vw;
            padding-right: 2vw;
          }

          #practices-d {
            margin-top: 33.746vw;
          }

          #designing-communications, #designing-strategy {
            margin-top: 5.085vw;
          }

          #cross-block {
            position: relative;
            margin-top: 9.9vw;

            .cross {
              position: relative;
              height: 48.305vw;

              .cross-body {
                position: absolute;
                top: 0;
                //z-index: 1;
                height: 100%;
                width: 100%;

                .refs-corner {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  max-width: 18vw;
                }
              }
            }
          }

          #the-team-d {
            margin-top: 13.4vw;
          }

          .body-block {
            h1 {
              font-size: max(2.542vw, 22px);
              line-height: max(2.542vw, 26px);
            }

            .first-image {
              margin: 10.990vw 0 3.906vw;
              max-width: 100%;
              height: auto;
              max-height: 50.424vw;
            }

            .text {
              font-size: max(2.222vw, 22px);
              line-height: max(2.5vw, 26px);
              letter-spacing: -0.042vw;

              .job-title {
                font-size: max(1.695vw, 16px);
              }

              &:not(:first-child) {
                margin-top: 1.5vw;
              }
            }

            .row {
              display: flex;
              max-width: 100%;
              padding: 0 9.028vw;

              .col-3 {
                max-width: 22.034vw;
                width: 100%;
              }

              .col-7 {
                max-width: 54.237vw;
                width: 100%;
              }
            }

            .refs-block {
              width: 21.186vw;

              h2 {
                margin-top: 1.542vw;
                line-height: 1.667vw;
                font-size: 1.356vw;
                margin-bottom: 1.119vw;
              }

              i {
                line-height: 1.667vw;
                font-size: 1.356vw;
              }

              .drunk-1 {
                max-height: 15.000vw;
              }

              .drunk-2 {
                max-height: 16.949vw;
                max-width: 8.814vw;
              }


              .ref-item {
                margin-top: 2.119vw;
                margin-bottom: 15px;
                line-height: 1.667vw;
                font-size: 1.356vw;


                &.fake-input {
                  border-bottom: 1px solid;
                }


              }

              p {
                margin-top: 2.119vw;
                font-size: 1.111vw;
                line-height: 1.389vw;

                &.fake-input__label {
                  margin-top: 15px;
                }
              }

            }

            .team-item {
              margin-top: 8.5vw !important;
            }

            .dog-image {
              margin: 8.051vw 0;

              img {
                max-width: 36.017vw;
                margin: 0 auto;
              }
            }

            #footer {
              line-height: 20px;
              margin-top: 12.763vw;
              margin-bottom: 8.475vw;

              .footer-img {
                width: 13.220vw;
              }

              .inner-row {
                padding: 0;
                top: 50%;
                transform: translateY(-50%);

                h2, a, p {
                  line-height: 1.667vw;
                  font-size: 1.356vw;
                }
              }
            }

          }

        }
      }
    }
  }
}

/*767 ipad
768 ipad
    769 desktop*/

@media only screen and (max-width: 768px) {
  .body .img-block .desktop-only {
    display: none;
  }
  .body .img-block .ipad-only {
    margin: 148px 0 auto;
  }
  .homepage .desktop-content .containery .body .img-block img.ipad-only {
    max-width: calc(100% - 23vw);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .body .img-block .ipad-only {
    display: none;
  }
  .desktop-content {
    .containery {
      .body {
        .img-block {
          img {
            margin: 14.051vw auto 0 auto;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .body .img-block .ipad-only {
    display: none;
  }
  .desktop-content {
    .containery {
      .body {
        .img-block {
          img {
            margin: 10.508vw auto 0 auto;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1180px) {
  .homepage {
    .desktop-content {
      .containery {
        padding: 0 10px;

        .body {
          .main-statement {
            font-size: 4.48vw;
            line-height: 5.09vw;
            margin-top: 7.051vw;
            letter-spacing: -0.1048vw;
            padding-right: 20px;
          }

          #practices-d {
            margin-top: 33.746vw;
          }

          #designing-communications, #designing-strategy {
            margin-top: 5.932vw;
          }

          #cross-block {
            position: relative;
            margin-top: 9.9vw;

            .cross {
              position: relative;
              height: 48.305vw;

              .cross-body {
                position: absolute;
                top: 0;
                //z-index: 1;
                height: 100%;
                width: 100%;

                .refs-corner {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  max-width: 18vw;
                }
              }
            }
          }

          #the-team-d {
            margin-top: 13.4vw;
          }

          .body-block {
            h1 {
              font-size: 2.542vw;
              line-height: 2.542vw;
            }

            .first-image {
              margin: 10.990vw 0 3.906vw;
              max-width: 100%;
              height: auto;
              max-height: 50.424vw;
            }

            .text {
              font-size: 2.222vw;
              line-height: 2.500vw;
              letter-spacing: -0.042vw;

              .job-title {
                font-size: 1.695vw;
              }

              &:not(:first-child) {
                margin-top: 1.5vw;
              }
            }

            .row {
              display: flex;
              max-width: 100%;
              padding: 0 9.028vw;

              .col-3 {
                max-width: 22.034vw;
                width: 100%;
              }

              .col-7 {
                max-width: 54.237vw;
                width: 100%;
              }
            }

            .refs-block {
              width: 21.186vw;

              h2 {
                margin-top: 1.542vw;
                line-height: 1.667vw;
                font-size: 1.356vw;
                margin-bottom: 1.119vw;
              }

              i {
                line-height: 1.667vw;
                font-size: 1.356vw;
              }

              .drunk-1 {
                max-height: 15.000vw;
              }

              .drunk-2 {
                max-height: 16.949vw;
                max-width: 8.814vw;
              }


              .ref-item {
                margin-top: 2.119vw;
                margin-bottom: 15px;
                line-height: 1.667vw;
                font-size: 1.356vw;


                &.fake-input {
                  border-bottom: 1px solid;
                }


              }

              p {
                margin-top: 2.119vw;
                font-size: 1.111vw;
                line-height: 1.389vw;

                &.fake-input__label {
                  margin-top: 15px;
                }
              }

            }

            .team-item {
              margin-top: 8.5vw !important;
            }

            .dog-image {
              margin: 7.627vw 0;

              img {
                max-width: 36.017vw;
                margin: 0 auto;
              }
            }

            #footer {
              line-height: 20px;
              margin-top: 12.763vw;
              margin-bottom: 8.475vw;

              .footer-img {
                width: 13.220vw;
              }

              .inner-row {
                padding: 0;
                top: 50%;
                transform: translateY(-50%);

                h2, a, p {
                  line-height: 1.667vw;
                  font-size: 1.356vw;
                }
              }
            }

          }

        }
      }
    }
  }
}

@media only screen and (min-width: 1900px) {
  .homepage .desktop-content .containery .body .img-block img {
    width: 1622.38px;
  }
}