//sass --watch scss/media.scss css/media.css --style compressed


/*---------+---------+---------+---------*/
/*          |GENERAL STYLES|             */
/*---------+---------+---------+---------*/


@media only screen and (max-width: 767px) {
  .desktop-content {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-content {
    display: none;
  }
  .desktop-content {
    .containery {
      overflow-x: hidden;


      .body {
        .img-block {
          display: flex;
          justify-content: center;
        }

        .main-statement {
          font-family: GT-Alpina-Standard-Light, sans-serif;
          letter-spacing: -1px;
        }

        .body-block {
          h1 {
            font-family: Roobert-Bold, sans-serif;
          }

          .block-copy {
            i {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif
            }
          }

          .text {
            font-family: GT-Alpina-Standard-Light, sans-serif;
          }

          .refs-block {

            h2 {
              font-family: Roobert-Bold, sans-serif;
            }

            .ref-item {
              font-family: GT-Alpina-Standard-Light, sans-serif;

              &.space-between {
                display: flex;
                justify-content: space-between;
              }
            }

            i {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif
            }

            p {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

          }

          #footer {


            .inner-row {
              position: relative;
              justify-content: space-between;
            }

            h2 {
              font-family: Roobert-Bold, sans-serif;
            }

            a, p {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .d-block * {
              display: block;
            }
          }


        }
      }
    }
    .menu{
      height: 100vh;position: fixed;top: 0;right: 0;
      .menu-block{
        height: 100%;position: relative;
        .sideways{
          writing-mode: sideways-lr;text-orientation: mixed;
          .menu-btn{
            font-family: Roobert-Bold,sans-serif;
          }
          .contact-btn{
            position: absolute;
            font-family: Roobert-Bold,sans-serif;
          }
          .menu-arrow-up{
            font-family: GT-Alpina-Standard-Light,sans-serif;
          }
        }
      }
    }

  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .desktop-content {
    .containery {
      padding: 0 10px;
      .body {
        .main-statement {
          font-size: 53px;
          line-height: 60px;
        }

        #practices-d {
          margin-top: 410px;
        }

        #designing-communications {
          margin-top: 140px;
        }

        #cross-block {
          position: relative;
          margin-top: 157px;
          .cross{
            position: relative;height: 617px;
            .cross-line{
              position: absolute;top: 0;z-index: 0;height: 617px;
            }
            .cross-body{
              position: absolute;top: 0;z-index: 1;height: 100%;width: 100%;
              .refs-corner{
                position: absolute;bottom: 0;right: 0;
              }
            }
          }
        }

        #the-team-d {
          margin-top: 200px;
        }

        .body-block {
          h1 {
            font-size: 24px;
            line-height: 24px;
          }

          .first-image{
            width: 720px;
          }

          .text {
            font-size: 26px;
            line-height: 30px;

            &:not(:first-child) {
              margin-top: 35px;
            }
          }

          .row {
            display: flex;
            max-width: 100%;
            padding: 0 130px;

            .col-3 {
              max-width: 31%;
              width: 100%;
            }

            .col-7 {
              max-width: 69%;
              width: 100%;
            }
          }

          .refs-block {
            width: 250px;

            h2 {
              margin-top: 30px;
              line-height: 20px;
              font-size: 16px;
            }

            .ref-item {
              margin-top: 25px;
              margin-bottom: 15px;

              &.fake-input {
                padding-bottom: 15px;
                border-bottom: 1px solid;
                .enterIcon{
                  padding-right: 45px;
                }
              }


            }

            p {
              margin-top: 25px;
              font-size: 16px;
              line-height: 20px;

              &.fake-input__label {
                margin-top: 15px;
              }
            }

          }

          .team-item {
            margin-top: 115px !important;
          }

          .dog-image {
            margin: 75px 0;
          }

          #footer {
            line-height: 20px;
            margin-top: 245px;
            margin-bottom: 100px;

            .footer-img {
              width: 156px;
            }

            .inner-row {
              padding: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }

        }

        .circle-img-block-fullscreen {
          margin: 75px 0;
        }
      }
    }
    .menu{
      width: 30px;
      .menu-block{
        .sideways{
          margin-top: 10px;
          font-size: 10px;
          line-height: 20px;
          .menu-btn{
            margin-top: 10px;
          }
          .contact-btn{
            bottom: 20px;
          }
          .menu-arrow-up{
            margin-left: 7px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1769px) {

}

@media only screen and (min-width: 1770px) {

}

/*---------+---------+---------+---------+---------+--------*/
/*          |RESPONSIVE FONTS AND SIZES MOBILE|             */
/*---------+---------+---------+---------+---------+--------*/


/*---------+---------+---------+---------+---------+---------*/
/*          |RESPONSIVE FONTS AND SIZES DESKTOP|             */
/*---------+---------+---------+---------+---------+---------*/


