//sass --watch scss/project.scss css/project.css --style compressed

header {
  position: relative;
  z-index: 1;
  padding: 0 10px;
}

.project-html{
  .next-title:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
}
@media only screen and (min-width: 768px) {
  .mobile-content, .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-content {
    .navigation {
      display: none;
    }
  }
}

@media only screen and (max-width: 599px) {
  .project-html {
    img {
      max-width: 100%;
    }

    video {
      width: 150vw;
      transform: translateX(-50%);
      left: 50%;
      position: relative;
    }
  }


  .desktop-content .body .main-content {
    .desktop-only-img, .row .full-row.desktop-only-img,.row-img .full-row.desktop-only-img, .row-full .desktop-only-img, .row-full-img .desktop-only-img {
      display: none !important;
    }
  }
  .desktop-content {
    .body.project-html {
      position: absolute;
      top: 0;


      .main-content {
        margin-top: 150px;
        padding: 0 10px;
        max-width: calc(100vw - 20px);
        overflow-x: hidden;

        .head-block {
          position: relative;


          .content-head-text {
            font-size: 45px;
            line-height: 45px;
            letter-spacing: -1px;
            margin-top: 85px;

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              &.bssproject{
                display: initial;
              }
              display: block;
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .project-name {
            font-family: Roobert-Bold, sans-serif;
            font-size: 15px;
            margin-top: 82px;
          }

          .tag-list {
            margin-top: 65px;

            .folder-icon {
              width: 17px;
              height: auto;
            }

            ul {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              font-size: 15px;
              line-height: 20px;
              white-space: initial;
              margin-top: 14.7333px;
            }
          }
        }

        .content-row {
          display: flex;
          max-width: 100%;
          margin-top: 66.1px;
          padding-bottom: 24px;

          p {
            font-size: 22px;
            line-height: 26px;
            letter-spacing: -0.5px;
            font-family: GT-Alpina-Standard-Light, sans-serif;

            &:not(:first-child) {
              margin-top: 20px;
            }

            span.italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .col-3.d-block {
            display: none;
            max-width: 22.034vw;
            width: 100%;
            position: relative;

            img {
              display: block;
              width: 156.033px;
            }

            .img-wrap {
              position: absolute;
              bottom: 0;

              .sub-image {
                margin-top: 25.1333px;
              }
            }
          }

          .col-7 {
            width: 100%;
            margin-bottom: 5px;

            .img-mobile-wrap {
              display: flex;
              margin-top: 57px;
              margin-bottom: 50px;

              img {
                width: 170px;
                height: 228.433px;

                &:first-child {
                  margin-right: 30px;
                }
              }
            }

            .percentage-mobile-wrap {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              max-width: 510px;
              width: 100%;
              margin-bottom: 26px;

              .percentage {
                font-size: 60px;
                letter-spacing: -1.71667px;
                margin-top: 20px;
              }

              .percentage-description {
                font-family: Roobert-Medium, sans-serif;
                font-size: 15px;
                line-height: 18px;
              }
            }
          }
        }

        .row {
          .iframe-video{
            height: 54.22vw;
          }
          .full-row {
            max-width: 100%;
            margin: 31px auto 0;
            display: block;
            img{
              width: 100% !important;
            }
          }
        }
        .row-img {
          .iframe-video{
            height: 54.22vw;
          }
          .full-row {
            max-width: 100%;
            margin: 30.5px auto 0;
            display: block;
            img{
              width: 100% !important;
            }
          }
        }

        .quote-block {
          margin-top: 60px;
          font-family: Roobert-Medium, sans-serif;
          padding-bottom: 30px;

          .quote {
            font-size: 31px;
            line-height: 35px;
            letter-spacing: -1px;
          }

          .quote-by {
            font-size: 18px;
            margin-top: 21.6667px;
            display: block;
          }
        }

        .percentage-wrap {
          position: absolute;
          bottom: 0;
          font-family: GT-Alpina-Standard-Light, sans-serif;
          width: 138.7px;

          .percentage {
            font-size: 52.0167px;
            letter-spacing: -1.71667px;
          }

          .percentage-description {
            margin-top: 25.1333px;
            font-family: Roobert-Medium, sans-serif;
            font-size: 13px;
            line-height: 15.6px;
          }
        }

        .row-full {
          .iframe-video{
            height: 57.22vw;
          }
          &.lowermargin{
            margin-top: 3.136vw;
          }
          margin-top: 66.1px;
          width: 100vw;
          position: relative;
          left: -10px;
        }
        .row-full-img {
          .iframe-video{
            height: 57.22vw;
          }
          &.lowermargin{
            margin-top: 3.136vw;
          }
          margin-top: 30.5px;
          width: 100vw;
          position: relative;
          left: -10px;
        }
      }

      .next-project {
        margin-bottom: 40px;

        .next-project-body {
          margin: 100px 10px 70px;
          border-top: 1px solid;
          padding-top: 50px;

          .ref {
            font-family: Roobert-Bold,
            sans-serif;
            font-size: 13.8667px;
            line-height: 17.3333px;
            letter-spacing: 0.2px;
          }

          .next-title {
            margin-top: 50px;

            span {
              font-size: 45px;
              line-height: 45px;
              letter-spacing: -1px;
              display: block;
            }

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }
        }

        .row-full {
          margin-top: 70px;
          width: 100vw;
          position: relative;

          img {
            width: 100%;
          }
        }

      }

    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .project-html {
    img, video {
      max-width: 100%;
    }
  }
  .mobile-only-set {
    display: none;
  }
  .desktop-content {
    .body.project-html {
      position: absolute;
      top: 0;


      .main-content {
        margin-top: 131.717px;
        padding: 0 10px;
        max-width: calc(100vw - 20px);

        .head-block {
          position: relative;
          padding: 0 11.017vw;


          .content-head-text {
            font-size: 56.3333px;
            line-height: 56.4px;
            letter-spacing: -1.71667px;
            margin-top: 95.35px;

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
              display: block;
            }
          }

          .project-name {
            font-family: Roobert-Bold, sans-serif;
            font-size: 15px;
            position: absolute;
            bottom: 0;
          }

          .tag-list {
            margin-top: 105.683px;
            position: relative;
            left: calc(100% - 127px);
            right: 127px;
            width:186.217px;

            .folder-icon {
              width: 15px;
              height: auto;
            }

            ul {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              font-size: 15px;
              line-height: 20px;
              white-space: initial;
              margin-top: 14.7333px;
            }
          }
        }

        .content-row {
          display: flex;
          max-width: 100%;
          padding: 0 11.017vw 5px;
          margin-top: 13.021vw;

          p {
            font-size: 26px;
            line-height: 30px;
            letter-spacing: -0.5px;
            font-family: GT-Alpina-Standard-Light, sans-serif;

            &:not(:first-child) {
              margin-top: 2.542vw;
            }

            span.italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .col-3.d-block {
            display: none;
            max-width: 22.034vw;
            width: 100%;
            position: relative;

            img {
              display: block;
              width: 156.033px;
            }

            .img-wrap {
              position: absolute;
              bottom: 0;

              .sub-image {
                margin-top: 25.1333px;
              }
            }
          }

          .col-7 {
            width: 100%;

            .img-mobile-wrap {
              display: flex;
              margin-top: 67px;
              margin-bottom: 60px;

              img {
                width: 193px;

                &:first-child {
                  margin-right: 40px;
                }
              }
            }

            .percentage-mobile-wrap {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              display: flex;
              max-width: calc(100vw - 20px);
              width: 100%;
              margin-bottom: 65px;

              .percentage {
                font-size: 60px;
                letter-spacing: -1.71667px;
                margin-right: 20px;
              }

              .percentage-description {
                font-family: Roobert-Medium, sans-serif;
                font-size: 15px;
                line-height: 18px;
                margin-right: 40px;
              }
            }
          }
        }

        .row {
          .iframe-video{
            height: 43.220vw;
          }
          .full-row {
            max-width: 100%;
            width: 78.220vw;
            margin: 13.021vw auto 0;
            display: block;
          }
        }
        .row-img {
          .iframe-video{
            height: 43.220vw;
          }
          .full-row {
            max-width: 100%;
            width: 78.220vw;
            margin: 6.510vw auto 0;
            display: block;
          }
        }

        .quote-block {
          padding: 0 11.017vw 43.3333px;
          margin-top: 130.033px;
          font-family: Roobert-Medium, sans-serif;

          .quote {
            font-size: 41.6px;
            line-height: 43.3333px;
            letter-spacing: -1.3px;
          }

          .quote-by {
            font-size: 18px;
            margin-top: 21.6667px;
            display: block;
          }
        }

        .percentage-wrap {
          position: absolute;
          bottom: 0;
          font-family: GT-Alpina-Standard-Light, sans-serif;
          width: 138.7px;

          .percentage {
            font-size: 52.0167px;
            letter-spacing: -1.71667px;
          }

          .percentage-description {
            margin-top: 25.1333px;
            font-family: Roobert-Medium, sans-serif;
            font-size: 13px;
            line-height: 15.6px;
          }
        }

        .row-full {
          &.iframe-video-back.withBackground{
            padding: 10vw 0;
          }
          .iframe-video{
            height: 43.220vw;
          }
          &.lowermargin{
            margin-top: 3.136vw;
          }
          margin-top: 13.021vw;
          width: 100vw;
          position: relative;
          left: -10px;
        }
        .row-full-img {
          &.iframe-video-back.withBackground{
            padding: 10vw 0;
          }
          .iframe-video{
            height: 43.220vw;
          }
          &.lowermargin{
            margin-top: 3.136vw;
          }
          margin-top: 5.085vw;
          width: 100vw;
          position: relative;
          left: -10px;
        }
      }

      .next-project {
        .next-project-body {
          margin: 173.55px 11.017vw 0;
          border-top: 1px solid;
          padding-top: 50px;

          .ref {
            font-family: Roobert-Bold,
            sans-serif;
            font-size: 13.8667px;
            line-height: 17.3333px;
            letter-spacing: 0.2px;
          }

          .next-title {
            margin-top: 50px;

            span {
              font-size: 56.3333px;
              line-height: 56.3333px;
              letter-spacing: -1.71667px;
              display: block;
            }

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }
        }

        .row-full {
          margin-top:70px;
          width: 100vw;
          position: relative;

          img {
            width: 100%;
          }
        }

      }

    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1899px) {
  .project-html {
    img, video {
      max-width: 100%;
    }
  }
  .img-mobile-wrap, .percentage-mobile-wrap, .mobile-only-set {
    display: none;
  }
  .desktop-content {
    .body.project-html {
      position: absolute;
      top: 0;


      .main-content {
        margin-top: 12.864vw;
        padding: 0 10px;
        max-width: calc(100vw - 20px);

        .head-block {
          position: relative;
          padding: 0 11.017vw;


          .content-head-text {
            font-size: 5.508vw;
            line-height:5.508vw;
            letter-spacing: -0.169vw;
            margin-top: 9.322vw;

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
              display: block;
            }
          }

          .project-name {
            font-family: Roobert-Bold, sans-serif;
            font-size: 15px;
            position: absolute;
            bottom: 0;
          }

          .tag-list {
            margin-top: 10.322vw;
            position: relative;
            left: calc(100% - 127px);
            right: 127px;
            width: 18.186vw;

            .folder-icon {
              width: 15px;
              height: auto;
            }

            ul {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              font-size: 15px;
              line-height: 20px;
              white-space: initial;
              margin-top: 17px;
            }
          }
        }

        .content-row {
          display: flex;
          max-width: 100%;
          padding: 0 11.017vw 0;
          margin-top: 11.017vw;

          p {
            font-size: 2.203vw;
            line-height: 2.627vw;
            letter-spacing: -0.042vw;
            font-family: GT-Alpina-Standard-Light, sans-serif;
            margin-top: 2.542vw;

            &:first-of-type {
              margin-top: 0;
            }

            span.italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .col-3.d-block {
            max-width: 22.034vw;
            width: 100%;
            position: relative;

            img {
              display: block;
              width: 15.254vw;
            }

            .img-wrap {
              position: absolute;
              bottom: 0;

              .sub-image {
                margin-top: 2.458vw;
              }
            }
          }

          .col-7 {
            width: calc(100% - 22.034vw);
          }
        }

        .row {
          .iframe-video{
            height: 43.220vw;
          }
          .full-row {
            max-width: 100%;
            width: 78.220vw;
            margin: 11.017vw auto 0;
            display: block;
          }
        }
        .row-img {
          .iframe-video{
            height: 43.220vw;
          }
          .full-row {
            max-width: 100%;
            width: 78.220vw;
            margin: 5.085vw auto 0;
            display: block;
          }
        }

        .quote-block {
          padding: 0 11.017vw 4.237vw;
          margin-top: 12.712vw;
          font-family: Roobert-Medium, sans-serif;

          .quote {
            font-size: 4.068vw;
            line-height: 4.237vw;
            letter-spacing: -0.1271vw;
          }

          .quote-by {
            font-size: 1.525vw;
            margin-top: 2.119vw;
            display: block;
          }
        }

        .percentage-wrap {
          position: absolute;
          bottom: 0;
          font-family: GT-Alpina-Standard-Light, sans-serif;
          width: 13.559vw;

          .percentage {
            font-size: 5.085vw;
            letter-spacing: -0.169vw;
            margin-top: 2.458vw;
          }

          .percentage-description {
            margin-top: 0;
            font-family: Roobert-Medium, sans-serif;
            font-size: 1.271vw;
            line-height: 1.525vw;
          }
        }

        .row-full {
          img, video {
            width: 100%;
          }
          &.iframe-video-back.withBackground{
            padding: 10vw 0;
          }
          .iframe-video{
            height: 43.220vw;
          }
          margin-top: 11.017vw;
          &.lowermargin{
            margin-top: 3.136vw;
          }
          width: 100vw;
          position: relative;
          left: -10px;
        }
        .row-full-img {
          img, video {
            width: 100%;
          }
          &.iframe-video-back.withBackground{
            padding: 10vw 0;
          }
          .iframe-video{
            height: 43.220vw;
          }
          margin-top: 5.085vw;
          &.lowermargin{
            margin-top: 3.136vw;
          }
          width: 100vw;
          position: relative;
          left: -10px;
        }
      }

      .next-project {
        .next-project-body {
          border-top: 1px solid;
          padding-top: 4.237vw;
          margin: 16.949vw 11.017vw 0;

          .ref {
            font-family: Roobert-Bold, sans-serif;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.2px;
          }

          .next-title {
            margin-top: 4.237vw;

            span {
              font-size: 5.508vw;
              line-height: 5.508vw;
              letter-spacing: -0.169vw;
              display: block;
            }

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }
        }

        .row-full {
          margin-top: 6.836vw;
          &.lowermargin{
            margin-top: 3.136vw;
          }
          width: 100vw;
          position: relative;

          img {
            width: 100%;
          }
        }

      }

    }
  }
}

@media only screen and (min-width: 1900px) {
  .project-html {
    img, video {
      max-width: 100%;
    }
  }
  .img-mobile-wrap, .percentage-mobile-wrap, .mobile-only-set {
    display: none;
  }
  .desktop-content {
    .body.project-html {
      position: absolute;
      top: 0;

      .main-content {
        margin-top: 244.283px;
        padding: 0 10px;
        max-width: calc(100vw - 20px);

        .head-block {
          position: relative;
          padding: 0 209.323px;


          .content-head-text {
            font-size: 104.652px;
            line-height: 104.583px;
            letter-spacing: -3.211px;
            margin-top: 177.118px;

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
              display: block;
            }
          }

          .project-name {
            font-family: Roobert-Bold, sans-serif;
            font-size: 15px;
            position: absolute;
            bottom: 0;
          }

          .tag-list {
            margin-top: 196px;
            position: relative;
            left: calc(100% - 127px);
            right: 127px;
            width: 326.534px;

            .folder-icon {
              width: 15px;
              height: auto;
            }

            ul {
              font-family: GT-Alpina-Standard-Light, sans-serif;
              font-size: 15px;
              line-height: 20px;
              white-space: initial;
              margin-top: 17px;
            }
          }
        }

        .content-row {
          max-width: 1880px;
          padding: 0 209.323px 0;
          margin: 209.2px auto 0;
          display: flex;
          justify-content: center;

          p {
            font-size: 41.857px;
            line-height: 49.913px;
            letter-spacing: -0.798px;
            font-family: GT-Alpina-Standard-Light, sans-serif;

            &:not(:first-child) {
              margin-top: 48.298px;
            }

            span.italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }

          .col-3.d-block {
            max-width: 418.646px;
            width: 100%;
            position: relative;

            img {
              display: block;
              width: 289.826px;
            }

            .img-wrap {
              position: absolute;
              bottom: 0;

              .sub-image {
                margin-top: 46.702px;
              }
            }
          }

          .col-7 {
            width: 1042.72px;
          }
        }

        .row {
          .full-row {
            max-width: 100%;
            width: 1486.18px;
            margin: 209.2px auto 0;
            display: block;
          }
        }

        .row-img {
          .full-row {
            max-width: 100%;
            width: 1486.18px;
            margin: 96.55px auto 0;
            display: block;
          }
        }

        .quote-block {
          padding: 0 209.323px 80.503px;
          font-family: Roobert-Medium, sans-serif;
          width: 1486.18px;
          margin: 241.528px auto 0;

          .quote {
            font-size: 77.25px;
            line-height: 80.45px;
            letter-spacing: -2.4px;
          }

          .quote-by {
            font-size: 38.646px;
            margin-top: 40.261px;
            display: block;
          }
        }

        .percentage-wrap {
          position: absolute;
          bottom: 0;
          font-family: GT-Alpina-Standard-Light, sans-serif;
          width: 257.621px;

          .percentage {
            font-size: 96.615px;
            letter-spacing: -3.211px;
            margin-top: 46.702px;
          }

          .percentage-description {
            margin-top: 0;
            font-family: Roobert-Medium, sans-serif;
            font-size: 24.149px;
            line-height: 28.975px;
          }
        }

        .row-full {
          &.iframe-video-back.withBackground{
            padding: 10vw 0;
          }
          .iframe-video{
            height: 43.220vw;
          }
          margin-top: 209.2px;
          &.lowermargin{
            margin-top: 59.55px;
          }
          width: 100vw;
          position: relative;
          left: -10px;

          img, video {
            width: 100%;
          }
        }

        .row-full-img {
          &.iframe-video-back.withBackground{
            padding: 10vw 0;
          }
          .iframe-video{
            height: 43.220vw;
          }
          margin-top: 96.6px;
          &.lowermargin{
            margin-top: 59.55px;
          }
          width: 100vw;
          position: relative;
          left: -10px;

          img, video {
            width: 100%;
          }
        }
      }

      .next-project {
        .next-project-body {
          margin: 322.031px 209.323px 0;
          border-top: 1px solid;
          padding-top: 80.503px;

          .ref {
            font-family: Roobert-Bold, sans-serif;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: .2px;
          }

          .next-title {
            margin-top: 80.503px;

            span {
              font-size: 104.652px;
              line-height: 104.652px;
              letter-spacing: -3.211px;
              display: block;
            }

            .simple {
              font-family: GT-Alpina-Standard-Light, sans-serif;
            }

            .italic {
              font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
            }
          }
        }

        .row-full {
          margin-top: 129.8px;
          width: 100vw;
          position: relative;

          img {
            width: 100%;
          }
        }

      }

    }
  }
}