//sass --watch htmlLoad/scss/zero-menu-item.scss htmlLoad/css/zero-menu-item.css --style compressed
.case-study-panel__inner {
  transition: .5s;

  &.opened {
    transform: translateX(calc(-100vw + 30px + calc(var(--case-study-items) * 40px)));
  }
}

.case-study-panel__header {
  .case-study-text {
    position: absolute;
    top: 0;
    left: 8px;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    font-family: GT-Alpina-Standard-Light, sans-serif;
    font-size: 20px;

    .case-study-title {
      margin-top: 62px;
    }
  }

  .case-study-tag {
    position: absolute;
    bottom: 82px;
    left: 8px;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    font-family: Roobert-Bold, sans-serif;
    font-size: 10px;
    line-height: 20px;
  }

  .case-study-index {
    position: absolute;
    bottom: 0;
    font-family: Roobert-Regular, sans-serif;
    font-size: 30px;
    padding-left: 13px;
  }
}