//sass --watch htmlLoad/scss/zero-menu-item.scss htmlLoad/css/zero-menu-item.css --style compressed
#htmlLoadZeroMenuItemContent {
  width: calc(100vw - 32px);
  height: 100vh;

  .case-study-panel__inner {
    //transition: .5s;

    &.opened {
      //transform: translateX(calc(-100vw + 50px + calc(var(--case-study-items) * 40px)));
      left: calc(40px * var(--menu-item-index));
    }

    &.html-case-menu-item:not(.opened) {
      left: calc(100vw - 290px + 40px * var(--menu-item-index));
    }


    &:not(.opened) {
      .main-statement {
        display: none;
      }
    }
  }

  .case-study-panel__header {
    .case-study-text {
      position: absolute;
      font-family: GT-Alpina-Standard-Light, sans-serif;
      font-size: 20px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      right: calc(100% - 8px);
      left: 0px;

      .case-study-title, .case-study-arrow {
        position: relative;
        top: 15px;
      }

      &.case-study-text-one {
        top: 312px;
      }

      &.case-study-text-two {
        top: 214px;
      }

      &.case-study-text-three {
        top: 209px;
      }

      &.case-study-text-four {
        top: 170px;
      }

      &.case-study-text-five {
        top: 210px;
      }

      &.case-study-text-six {
        top: 208px;
      }

      .case-study-arrow {
        padding-left: 62px;
      }
    }

    .case-study-tag {
      position: absolute;
      bottom: 82px;
      left: 8px;
      font-family: Roobert-Bold, sans-serif;
      font-size: 10px;
      line-height: 20px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      right: calc(100% - 27px);
    }

    .case-study-index {
      position: absolute;
      bottom: 10px;
      font-family: Roobert-Regular, sans-serif;
      font-size: 30px;
      padding-left: 10px;
    }
  }

  .case-study-panel__body {
    height: 100%;
    margin-left: 3.390vw;
    position: relative;

    .top-left {
      white-space: initial;
      position: absolute;
      top: 71px;
      left: 3.390vw;

      .main-statement {
        font-family: GT-Alpina-Standard-Light, sans-serif;
      }

      .main-statement-italic {
        font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
      }
    }

    .top-right {
      position: absolute;
      top: 77px;
      right: 50px;
    }

    .bottom-left {
      position: absolute;
      bottom: 80px;
      left: 3.390vw;
    }

    .bottom-right {
      position: absolute;
      bottom: 80px;
      right: 28px;
    }
  }

  .zeroMenuItemContent {
    //transform: translateX(-100%);
    opacity: 1;
    background: #fff;

    &.closed {
      opacity: 0;
      transform: translateX(0%);
    }
  }

}


@media only screen and (min-width: 768px) and (max-width: 1179px) {
  #htmlLoadZeroMenuItemContent {
    .case-study-panel__body .top-left {
      font-size: 5.932vw;
      width: 42.373vw;
      left: 7.203vw;
    }

    .case-study-panel__body .bottom-left {
      left: 7.203vw;
    }
  }
}

//Scaling content
@media only screen and (max-width: 1899px) {
  #htmlLoadZeroMenuItemContent {
    .case-study-panel__body {
      .top-left {
        font-size: 5.508vw;
        width: 53vw;
        line-height: 5.508vw;
        letter-spacing: -0.169vw;
      }

      .top-right {
        width: 2.542vw;
        height: 2.542vw;
      }

      .bottom-left {
        img {
          width: 2.822vw;
          height: 4.146vw;
        }
      }

      .bottom-right {
        img {
          height: 17.797vw;
        }
      }
    }
  }

}

//Static content
@media only screen and (min-width: 1900px) {
  #htmlLoadZeroMenuItemContent {
    .case-study-panel__body {
      .top-left {
        font-size: 104.65px;
        width: 1007px;
        line-height: 104.65px;
        letter-spacing: -3.2px;
      }

      .top-right {
        width: 48.2833px;
        height: 48.2833px;
      }

      .bottom-left {
        img {
          width: 53.6167px;
          height: 78.7667px;
        }
      }

      .bottom-right {
        img {
          height: 338.133px;
        }
      }
    }
  }
}