//sass --watch scss/insights/media.scss css/insights/media.css --style compressed

@media only screen and (min-width: 768px) and (max-width: 1899px) {

.containery {
  padding: 0 0.847vw;
  .body{
    padding-left: 11.017vw;
    padding-right: 11.017vw;
    padding-top: 8.051vw;
  }

  .main-statement-wrap{
    position: relative;height: 34.746vw;
    .main-statement {
      font-size: 5.932vw;
      line-height: 5.932vw;
      letter-spacing: -0.169vw;
      position: absolute;top: 50%;transform: translateY(-50%);z-index: 1;width: 54.492vw;

      .simple {
        font-family: GT-Alpina-Standard-Light, sans-serif;
      }

      .italic {
        font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
      }
    }
    img{
      position: absolute;top: 0;right: 0;
      height: 34.746vw;
    }
  }

  .tag-list {
    margin-top: 5.085vw;
    li {
      display: inline-block;
      font-family: Roobert-Medium, sans-serif;
      font-size: 1.186vw;
      margin-right: 1.017vw;
      line-height: 1.695vw;
    }
  }

  .insight-by {
    font-family: Roobert-Medium, sans-serif;
    font-size: 1.186vw;
    margin-right: 1.017vw;
    line-height: 1.695vw;
    margin-top: 2.119vw;
  }
  .main-content{
    margin-top: 8.475vw;
    .row{
      display: flex;
      max-width: 100%;
      .col-3{
        max-width: 22.034vw;
        width: 100%;
      }
      .col-7{
        max-width: 54.237vw;
        width: 100%;
      }
    }
    p{
      font-size: 2.203vw;
      line-height: 2.542vw;
      font-family: GT-Alpina-Standard-Light,sans-serif;
      margin-bottom: 2.119vw;
      .italic{
        font-family: GT-Alpina-Standard-Light-Italic, sans-serif;

      }
    }
    .share{
      margin-top: 15.508vw;
      li {
        display: inline-block;
        font-family: Roobert-Medium, sans-serif;
        font-size: 1.356vw;
        margin-right: 1.017vw;
        line-height: 2.542vw;
      }
    }
  }
  .next-insight{
    margin-top: 16.949vw;border-top: 1px solid;padding-top: 4.237vw;
    .ref{
      font-family: Roobert-Medium, sans-serif;
      font-size: 1.356vw;
      line-height: 1.695vw;
    }
    .next-title{
      margin-top: 5.424vw;
      margin-bottom: 16.949vw;
      span{
        font-size: 5.932vw;
        line-height: 5.932vw;
        letter-spacing: -0.169vw;
        display: block;
      }
      .simple {
        font-family: GT-Alpina-Standard-Light, sans-serif;
      }

      .italic {
        font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
      }
    }
  }
}
}

@media only screen and (min-width: 1900px) {
  .containery {
    padding: 0 16px;
    .body{
      padding-left: 209px;
      padding-right: 209px;
      padding-top: 152.9px;
    }

    .main-statement-wrap{
      position: relative;height: 660px;
      .main-statement {
        font-size: 112.7px;
        line-height: 112.7px;
        letter-spacing: -3.2px;
        position: absolute;top: 50%;transform: translateY(-50%);z-index: 1;width: 1035.33px;

        .simple {
          font-family: GT-Alpina-Standard-Light, sans-serif;
        }

        .italic {
          font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
        }
      }
      img{
        position: absolute;top: 0;right: 0;
        height: 660.167px;
      }
    }

    .tag-list {
      margin-top: 96.6px;
      li {
        display: inline-block;
        font-family: Roobert-Medium, sans-serif;
        font-size: 22.5333px;
        margin-right: 19.3167px;
        line-height: 32.2px;
      }
    }

    .insight-by {
      font-family: Roobert-Medium, sans-serif;
      font-size: 22.5333px;
      margin-right: 19.3167px;
      line-height: 32.2px;
      margin-top: 40.25px;
    }
    .main-content{
      margin-top: 161.017px;
      .row{
        display: flex;
        max-width: 100%;
        .col-3{
          max-width: 22.034vw;
          width: 100%;
        }
        .col-7{
          max-width: 54.237vw;
          width: 100%;
        }
      }
      p{
        font-size: 41.85px;
        line-height: 48.2833px;
        font-family: GT-Alpina-Standard-Light,sans-serif;
        margin-bottom: 40.25px;
        .italic{
          font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
        }
      }
      .share{
        margin-top: 294.65px;
        li {
          display: inline-block;
          font-family: Roobert-Medium, sans-serif;
          font-size: 25.75px;
          margin-right: 19.3167px;
          line-height: 48.2833px;
        }
      }
    }
    .next-insight{
      margin-top: 322.017px;border-top: 1px solid;padding-top: 80.5px;
      .ref{
        font-family: Roobert-Medium, sans-serif;
        font-size: 25.75px;
        line-height: 32.2px;
      }
      .next-title{
        margin-top: 103.05px;
        margin-bottom: 322.017px;
        span{
          font-size: 112.7px;
          line-height: 112.7px;
          letter-spacing: -3.2px;
          display: block;
        }
        .simple {
          font-family: GT-Alpina-Standard-Light, sans-serif;
        }

        .italic {
          font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .mobile-content,.mobile-menu{
    display: none;
  }
}
@media only screen and (max-width: 767px) {

  .containery {
    padding: 0 10px;
    .body{
      padding-top: 135px;
    }

    .main-statement-wrap{
      .main-statement {
        font-size: 45px;
        line-height: 45px;
        letter-spacing: -2px;

        .simple {
          font-family: GT-Alpina-Standard-Light, sans-serif;
        }

        .italic {
          font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
        }
      }
      img{
        height: 280px;
        margin-top: 40px;
      }
    }

    .tag-list {
      margin-top: 60px;
      li {
        display: inline-block;
        font-family: Roobert-Medium,sans-serif;
        font-size: 14px;
        margin-right: 1.017vw;
        line-height: 20px;
      }
    }

    .insight-by {
      font-family: Roobert-Medium,sans-serif;
      font-size: 14px;
      margin-right: 1.017vw;
      line-height: 20px;
      margin-top: 26px;
    }
    .main-content{
      margin-top: 60px;
      .row{
        display: flex;
        max-width: 100%;
        .col-3{
          display: none;
        }
        .col-7{
          width: 100%;
        }
      }
      p{
        font-size: 22px;
        line-height: 25px;
        font-family: GT-Alpina-Standard-Light,sans-serif;
        margin-bottom: 25px;
        .italic{
          font-family: GT-Alpina-Standard-Light-Italic, sans-serif;

        }
      }
      .share{
        margin-top: 160px;
        li {
          display: inline-block;
          font-family: Roobert-Medium,sans-serif;
          font-size: 16px;
          margin-right: 12px;
          line-height: 25px;
        }
      }
    }
    .next-insight{
      margin-top: 100px;
      border-top: 1px solid;
      padding-top: 50px;
      .ref{
        font-family: Roobert-Medium,sans-serif;
        font-size: 16px;
        line-height: 20px;
      }
      .next-title{
        margin-top: 55px;
        margin-bottom: 125px;
        span{
          font-size: 45px;
          line-height: 45px;
          letter-spacing: -2px;
          display: block;
        }
        .simple {
          font-family: GT-Alpina-Standard-Light, sans-serif;
        }

        .italic {
          font-family: GT-Alpina-Standard-Light-Italic, sans-serif;
        }
      }
    }
  }
  .desktop-content{
    .navigation{
      display: none;
    }
  }
}



